<div class="relative flex flex-wrap justify-center gap-normal *:flex *:items-center *:gap-normal desktop:justify-around">
    <div class="flex-wrap justify-center tablet:absolute tablet:-top-3 tablet:right-2 tablet:flex-col desktop:flex-row">
        @for (link of data.links; track $index) {
            <glassait-button
                (click)="openLink(link.url)"
                [size]="ButtonSizeEnum.XSMALL"
                [theme]="mode === ModeEnum.DARK ? ButtonThemeEnum.DARK_BLUE : ButtonThemeEnum.LIGHT_BLUE"
                rightIcon="redirect"
                text="{{ link.name }}"
            ></glassait-button>
        }
    </div>

    <div class="min-w-[288px] flex-col *:flex *:gap-demi *:tablet:gap-normal">
        <div>
            @for (crew of data.crew; track $index) {
                <glassait-icon
                    [color]="mode === ModeEnum.DARK ? IconColorEnum.DARK : IconColorEnum.LIGHT"
                    class="rounded-normal border-1 border-secondary-700 dark:border-primary-700"
                    icon="{{ crew | image }}"
                    size="{{ isMobile ? 48 : 70 }}"
                    title="{{ crew }}"
                ></glassait-icon>
            }
        </div>

        @for (skills of data.skills; track $index) {
            <div>
                @for (skill of skills; track $index) {
                    <picture>
                        <source srcset='{{ skill | image : "skills" : "avif" }}' type="image/avif" />
                        <img
                            alt="{{ skill }}"
                            class="rounded-normal border-1 border-secondary-700 dark:border-primary-700"
                            height="{{ isMobile ? 50 : 70 }}"
                            ngSrc="{{ skill | image: 'skills' : 'png' }}"
                            title="{{ skill }}"
                            width="{{ isMobile ? 50 : 70 }}"
                        />
                    </picture>
                }
            </div>
        }
    </div>

    <div
        class="min-w-[288px] max-w-[1000px] flex-wrap justify-center pt-normal *:flex *:flex-wrap *:items-center *:justify-center *:gap-normal"
    >
        <div>
            <div>
                <picture>
                    <source srcset='{{ data.name | image : "tanks" : "avif" }}' type="image/avif" />
                    <img
                        alt="Image de {{ data.name }}"
                        height="234"
                        ngSrc="{{ data.name | image: 'tanks' : 'png' }}"
                        title="{{ data.name }}"
                        width="320"
                    />
                </picture>
            </div>

            <div class="flex items-center justify-center gap-normal tablet:flex-col">
                @for (shell of data.shells; track $index) {
                    <div>
                        <div class="text-normal relative left-[5px] top-[1px] h-0 w-0">
                            {{ shell.amount }}
                        </div>
                        <picture>
                            <source srcset="{{ shell.name | image: 'shells' : 'avif' : shell.premium }}" type="image/avif" />
                            <img
                                alt="Image de {{ shell.name }}"
                                class="rounded-normal border-1 border-secondary-700 dark:border-primary-700"
                                height="70"
                                ngSrc="{{ shell.name | image: 'shells' : 'png' : shell.premium }}"
                                title="{{ shell.amount }} {{ shell.name }}"
                                width="70"
                            />
                        </picture>
                    </div>
                }
            </div>

            <div class="flex flex-col items-center justify-center gap-normal *:flex *:justify-center">
                <div class="flex-wrap gap-normal *:flex *:gap-normal">
                    <div class="h-[70px] *:relative *:w-[70px]">
                        @for (equipment of data.equipments.first; track $index) {
                            <div>
                                <picture>
                                    <source srcset='{{ equipment.name | image : "equipments" : "avif" }}' type="image/avif" />
                                    <img
                                        alt="Image de {{ equipment.name }}"
                                        class="absolute inset-0 rounded-normal border-1 border-secondary-700 dark:border-primary-700"
                                        height="70"
                                        ngSrc="{{ equipment.name | image: 'equipments' : 'png' }}"
                                        title="{{ equipment.name }}"
                                        width="70"
                                    />
                                </picture>

                                @if (equipment.modernized) {
                                    <picture>
                                        <source srcset="{{ 'modernized_3' | image: 'equipments' : 'avif' }}" type="image/avif" />
                                        <img
                                            alt="Équipement modernizé"
                                            class="absolute inset-0 left-0.5 top-1"
                                            height="20"
                                            ngSrc="{{ 'modernized_3' | image: 'equipments' : 'png' }}"
                                            width="20"
                                        />
                                    </picture>
                                }
                            </div>
                        }
                    </div>

                    <div>
                        @for (consumable of data.consumables.first; track $index) {
                            <picture>
                                <source srcset='{{ consumable | image : "consumables" : "avif" }}' type="image/avif" />
                                <img
                                    alt="{{ consumable }}"
                                    class="rounded-normal border-1 border-secondary-700 dark:border-primary-700"
                                    height="70"
                                    ngSrc="{{ consumable | image: 'consumables' : 'png' }}"
                                    title="{{ consumable }}"
                                    width="70"
                                />
                            </picture>
                        }
                    </div>
                </div>

                <div class="items-center rounded-normal border-1 border-success-700 bg-success-400 *:w-[70px]">
                    <picture class="-mr-[70px]">
                        <source srcset='{{ data.directive.image | image : "equipments" : "avif" }}' type="image/avif" />
                        <img
                            alt="{{ data.directive.name }}"
                            class="-mr-[70px]"
                            height="70"
                            ngSrc="{{ data.directive.image | image: 'equipments' : 'png' }}"
                            width="70"
                        />
                    </picture>

                    <picture class="relative">
                        <source srcset='{{ "directive" | image : "equipments" : "avif" }}' type="image/avif" />
                        <img
                            alt="directive icon"
                            class="w-[70px]"
                            height="54"
                            ngSrc="{{ 'directive' | image: 'equipments' : 'png' }}"
                            title="{{ data.directive.name }}"
                            width="53"
                        />
                    </picture>
                </div>

                <div class="flex-wrap gap-normal *:flex *:gap-normal">
                    <div class="h-[70px] *:relative *:w-[70px]">
                        @for (equipment of data.equipments.second; track $index) {
                            <div>
                                <picture>
                                    <source srcset='{{ equipment.name | image : "equipments" : "avif" }}' type="image/avif" />
                                    <img
                                        alt="Image de {{ equipment.name }}"
                                        class="absolute inset-0 rounded-normal border-1 border-secondary-700 dark:border-primary-700"
                                        height="70"
                                        ngSrc="{{ equipment.name | image: 'equipments' : 'png' }}"
                                        title="{{ equipment.name }}"
                                        width="70"
                                    />
                                </picture>

                                @if (equipment.modernized) {
                                    <picture>
                                        <source srcset="{{ 'modernized_3' | image: 'equipments' : 'avif' }}" type="image/avif" />
                                        <img
                                            alt="Équipement modernizé"
                                            class="absolute inset-0 left-0.5 top-1"
                                            height="20"
                                            ngSrc="{{ 'modernized_3' | image: 'equipments' : 'png' }}"
                                            width="20"
                                        />
                                    </picture>
                                }
                            </div>
                        }
                    </div>

                    <div>
                        @for (consumable of data.consumables.second; track $index) {
                            <picture>
                                <source srcset='{{ consumable | image : "consumables" : "avif" }}' type="image/avif" />
                                <img
                                    alt="{{ consumable }}"
                                    class="rounded-normal border-1 border-secondary-700 dark:border-primary-700"
                                    height="70"
                                    ngSrc="{{ consumable | image: 'consumables' : 'png' }}"
                                    title="{{ consumable }}"
                                    width="70"
                                />
                            </picture>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="min-w-[288px] *:-ml-6 *:flex *:h-[70px]">
            @for (field of data.fields; track $index) {
                <div class="*:relative">
                    <picture class="-top-4 left-[50%] z-[1] h-8 w-8">
                        <source srcset='{{ "roman_number_" + field.level | image : "fields" : "avif" }}' type="image/avif" />
                        <img
                            alt="Level {{ field.level }} of field"
                            height="32"
                            ngSrc="{{ 'roman_number_' + field.level | image: 'fields' : 'png' }}"
                            width="32"
                        />
                    </picture>

                    @for (part of field.field | keyvalue; track $index) {
                        <div class="w-[70px]" title="{{ part.value.name }}">
                            <picture>
                                <source srcset="{{ part.value | getFieldUrl: 'avif' }}" type="image/avif" />
                                <img
                                    alt="Image de {{ part.value.name }}"
                                    class="absolute inset-0"
                                    height="70"
                                    ngSrc="{{ part.value | getFieldUrl: 'png' }}"
                                    width="70"
                                />
                            </picture>

                            @if (part.value.active) {
                                <picture>
                                    <source srcset='{{ "active" | image : "fields" : "avif" }}' type="image/avif" />
                                    <img
                                        alt="Field modification active"
                                        class="absolute inset-0"
                                        height="82"
                                        ngSrc="{{ 'active' | image: 'fields' : 'png' }}"
                                        width="82"
                                    />
                                </picture>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
