<div class="tag-wrapper" id="news-{{ componentId }}-tags">
    @for (tag of tags(); track $index) {
        <span foldTag>{{ tag | sentenceCase }}</span>
    }
</div>

<a
    [attr.aria-label]="'Redirection vers l\'article : ' + title()"
    [disabled]="!isArticle()"
    [openInNew]="true"
    [url]="url()"
    fold-link
    id="news-{{ componentId }}"
>
    <div class="img-wrapper">
        <img
            [attr.aria-labelledby]="isArticle() ? 'news-title-' + componentId : ''"
            [src]="imageUrl()"
            alt=""
            aria-hidden="true"
            loading="lazy"
        />
    </div>

    <div>
        @if (isArticle()) {
            <span id="news-title-{{ componentId }}" class="body-1">{{ title() | sentenceCase }}.</span>
            <span fold-text iconRight="redirect" size="small">Voir l'article</span>
        } @else {
            <p class="neutral-400 body-1">{{ description() | sentenceCase }}</p>
        }
    </div>
</a>
