@use 'sass:map';
@use '../../../scss/abstract/spacings';
@use '../../../scss/abstract/colors';
@use '../../../scss/abstract/borders';
@use '../../../scss/mixins/flex' as *;

:host {
    display: block;
    position: relative;

    min-width: 320px;
    max-width: 400px;

    div.img-wrapper {
        overflow: hidden;
        max-width: max-content;
        max-height: max-content;
    }

    &:not(:has(a[disabled='true'])):hover img {
        transform: scale(1.3);
    }

    img {
        min-height: 300px;
        max-height: 300px;

        object-fit: cover;

        border-radius: map.get(borders.$border-radius, 4) map.get(borders.$border-radius, 4) 0 0;

        transform: scale(1);
        transition: 0.3s ease-in-out;
    }

    div.tag-wrapper {
        position: absolute;
        z-index: 1;

        top: map.get(spacings.$spacings, 8);
        left: map.get(spacings.$spacings, 8);
    }

    a {
        @include flex-container(
            (
                direction: column,
            )
        );

        gap: map.get(spacings.$spacings, 12);

        color: map.get(colors.$neutral, 300);
        fill: map.get(colors.$neutral, 300);

        > div {
            @include flex-container(
                (
                    direction: column,
                )
            );

            gap: map.get(spacings.$spacings, 4);
        }
    }

    span.body-1 {
        font-weight: bold;

        color: map.get(colors.$neutral, 200);

        text-wrap: balance;
        text-decoration: none;
    }
}
