@use '../abstract/colors' as *;

$colors: (
    neutral: $neutral,
    primary: $primary,
    success: $success,
    warning: $warning,
    gray: $gray,
);

@each $color, $colorData in $colors {
    @each $name, $properties in $colorData {
        .#{$color}-#{$name} {
            color: $properties;
            fill: $properties;
        }

        .bg-#{$color}-#{$name} {
            background: $properties;
        }

        @each $nameOp, $opacity in $opacities {
            .#{$color}-#{$name}-#{$nameOp} {
                color: rgba($properties, $opacity);
                fill: rgba($properties, $opacity);
            }
        }
    }
}
