<mat-spinner *ngIf='showSpinner'></mat-spinner>
<mat-card
    *ngIf='!showSpinner'
    [id]="'cardFor' + id"
    class='h-min w-[320px] dark:[--mdc-elevated-card-container-color:#000000] tablette:w-[730px] desktop:w-[500px]'
    head
>
    <mat-card-header [id]="'cardHeaderFor' + id" class='mb-3 flex items-center'>
        <!-- <icon
             [color]='darkMode ? IconColorEnum.LIGHT : IconColorEnum.DARK'
             [icon]='icon'
             [size]='40'
             mat-card-avatar
         ></icon>-->
        <mat-card-title class='underline [--mat-card-title-text-size:25px]'>
            {{ title }}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content [id]="'cardContentFor' + id">
        <ng-content></ng-content>
    </mat-card-content>
</mat-card>
