/*
 * || IMPORT / USE
 * Tips search `||` to move to section
 */

@use '../../../../assets/scss/commons/borders';
@use '../../../../assets/scss/commons/box-shadow';

/*
 * || PANEL MODIFICATION
 */

.mat-expansion-panel {
    box-shadow: box-shadow.$box-shadow-card-black !important;
    --mat-expansion-container-shape: #{borders.$radius-normal} !important;

    min-width: 18rem;
}

:is(.dark) .mat-expansion-panel {
    box-shadow: box-shadow.$box-shadow-card-white !important;
}
