<div
    class='flex w-full items-center justify-between bg-primary_light p-3 shadow-footer_black dark:bg-primary_dark dark:shadow-footer_white'
>
    <picture class='hidden tablette:block'>
        <source srcset='assets/other/logo.avif' type='image/avif' />
        <img
            alt='Logo du clan'
            class='w-16'
            height='195'
            ngSrc='assets/other/logo.png'
            width='195'
        />
    </picture>
    <!--    <div class='flex justify-end gap-5 flex-wrap'>-->
    <!--        <a-->
    <!--            *ngIf='showHome'-->
    <!--            [routerLink]='(inventory | Inventory).home'-->
    <!--            class='underline'-->
    <!--        >-->
    <!--            &lt;!&ndash;            {{ (wording | getHeader).accueil | sentenceCase }}&ndash;&gt;-->
    <!--        </a>-->
    <!--        <a-->
    <!--            *ngIf='showTank && !isVisitor'-->
    <!--            [routerLink]='(inventory | Inventory).charsEtEquipements'-->
    <!--            class='underline'-->
    <!--        >-->
    <!--            &lt;!&ndash;            {{ (wording | getHeader).charEtEquipement | sentenceCase }}&ndash;&gt;-->
    <!--        </a>-->
    <!--        <a-->
    <!--            *ngIf='showWar && !isVisitor'-->
    <!--            [routerLink]='(inventory | Inventory).clanWar'-->
    <!--            class='underline'-->
    <!--        >-->
    <!--            &lt;!&ndash;            {{ (wording | getHeader).clanWar | sentenceCase }}&ndash;&gt;-->
    <!--        </a>-->
    <!--        <a-->
    <!--            *ngIf='showChangelog'-->
    <!--            [routerLink]='(inventory | Inventory).changelog'-->
    <!--            class='underline'-->
    <!--        >-->
    <!--            {{ (wording | getFooter).changelog | sentenceCase }}-->
    <!--        </a>-->
    <!--        <a-->
    <!--            *ngIf='showAgreement && !isVisitor'-->
    <!--            [routerLink]='(inventory | Inventory).agreements'-->
    <!--            class='underline'-->
    <!--        >-->
    <!--            {{ (wording | getFooter).agreements | sentenceCase }}-->
    <!--        </a>-->
    <!--    </div>-->
</div>
