@use 'sass:map';
@use '../../../scss/abstract/spacings';
@use '../../../scss/abstract/borders';

fieldset {
    margin: 0;

    border: none;
    border-radius: map.get(borders.$border-radius, 4);
}

div, fieldset {
    width: fit-content;

    padding: map.get(spacings.$spacings, 8);
}

div {
    border-radius: map.get(borders.$border-radius, 8);
}