$primary-700: #fbfbfb;
$primary-600: #f6f6f6;
$primary-500: #efefef;
$primary-400: #e3e3e3;
$primary-300: #d2d2d2;
$primary-200: #c2c2c2;
$primary-100: #a8a8a8;
$primary-50: #999999;

$secondary-700: #050505;
$secondary-600: #0a0a0a;
$secondary-500: #111111;
$secondary-400: #1e1e1e;
$secondary-300: #2f2f2f;
$secondary-200: #3f3f3f;
$secondary-100: #494949;
$secondary-50: #555555;

$warning-700: #fe9b0e;
$warning-600: #ffad0d;
$warning-500: #ffc62b;
$warning-400: #ffdd82;
$warning-300: #ffe5aa;
$warning-200: #ffeebb;

$danger-700: #ec2d30;
$danger-600: #f64c4c;
$danger-500: #eb6f70;
$danger-400: #f49898;
$danger-300: #f4aaaa;
$danger-200: #f4b8bb;

$info-900: #2050e2;
$info-800: #2d60e2;
$info-700: #3a70e2;
$info-600: #3b82f6;
$info-500: #4ba1ff;
$info-400: #93c8ff;

$success-700: #0c9d61;
$success-600: #47b881;
$success-500: #6bc497;
$success-400: #97d4b4;
