<div class="flex items-center justify-center" id="conteneur-tank-equipment">
    <mat-accordion class="mb-10 mt-10 w-full desktop:mt-14 desktop:w-[90%]">
        <mat-expansion-panel
            *ngFor="let tankData of tanksData | getData"
            class="dark:[--mat-expansion-container-background-color:#000000] dark:[--mat-expansion-container-text-color:#FFFFFF] dark:[--mat-expansion-header-indicator-color:#FFFFFF]"
        >
            <mat-expansion-panel-header>
                <mat-panel-title class="w-10 tablette:w-24">
                    <icon [height]="45" [icon]="tankData.name | image" [width]="80"></icon>
                </mat-panel-title>
                <mat-panel-description
                    class="flex justify-center text-petit [--mat-expansion-header-description-color:primary_light] tablette:-ml-24 tablette:text-normal"
                >
                    {{ tankData.name | uppercase }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-tank-equipment-description
                [tankData]="tankData"
            ></app-tank-equipment-description>
        </mat-expansion-panel>
    </mat-accordion>
</div>
