<mat-spinner *ngIf="showSpinner"></mat-spinner>
<mat-card
    head
    *ngIf="!showSpinner"
    [id]="'cardFor' + id"
    class="h-min w-[320px] dark:[--mdc-elevated-card-container-color:#000000] tablette:w-[730px] desktop:w-[500px]"
>
    <mat-card-header [id]="'cardHeaderFor' + id" class="mb-3 flex items-center">
        <img
            mat-card-avatar
            [src]="iconPath"
            alt=""
            class="brightness-0 contrast-[105%] hue-rotate-[57deg] invert-0 saturate-[100%] sepia-[94%] filter dark:contrast-[101%] dark:hue-rotate-[164deg] dark:invert-[100%] dark:saturate-[100%] dark:sepia-[100%]"
        />
        <mat-card-title class="underline [--mat-card-title-text-size:25px]">
            {{ title }}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content [id]="'cardContentFor' + id">
        <ng-content></ng-content>
    </mat-card-content>
</mat-card>
