<mat-spinner *ngIf="showSpinner"></mat-spinner>
<mat-card
    *ngIf="!showSpinner"
    [id]="'cardFor' + id"
    class="h-min w-[320px] dark:[--mdc-elevated-card-container-color:#000000] tablette:w-[730px] desktop:w-[500px]"
    head
>
    <mat-card-header [id]="'cardHeaderFor' + id" class="mb-3 flex items-center">
        <img
            [ngSrc]="iconPath"
            alt=""
            class="brightness-black contrast-black hue-rotate-black invert-black saturate-black sepia-black dark:brightness-white dark:contrast-white dark:hue-rotate-white dark:invert-white dark:saturate-white dark:sepia-white"
            height="40"
            mat-card-avatar
            width="40"
        />
        <mat-card-title class="underline [--mat-card-title-text-size:25px]">
            {{ title }}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content [id]="'cardContentFor' + id">
        <ng-content></ng-content>
    </mat-card-content>
</mat-card>
