<div class='flex items-center justify-center' id='conteneur-tank-equipment'>
    <ng-container *ngIf='tanksData.isLoading; then loading; else showTank'></ng-container>
</div>

<ng-template #showTank>
    <mat-accordion class='flex w-full flex-col gap-demi'>
        <glassait-expansion-panel
            *ngFor='let data of tanksData.data'
            [color]='modeService.mode'
            description='{{ data.name | uppercase }}'
            icon='{{ data.name | image }}'
        >
            <app-tank-equipment-description
                [data]='data'
                [isMobile]='modeService.isMobile'
                [mode]='modeService.mode'
            ></app-tank-equipment-description>
        </glassait-expansion-panel>
    </mat-accordion>
</ng-template>

<ng-template #loading>
    <mat-accordion class='flex w-full flex-col gap-demi'>
        <glassait-expansion-panel
            [color]='modeService.mode'
            isLoading='true'
        ></glassait-expansion-panel>
        <glassait-expansion-panel
            [color]='modeService.mode'
            isLoading='true'
        ></glassait-expansion-panel>
        <glassait-expansion-panel
            [color]='modeService.mode'
            isLoading='true'
        ></glassait-expansion-panel>
        <glassait-expansion-panel
            [color]='modeService.mode'
            isLoading='true'
        ></glassait-expansion-panel>
    </mat-accordion>
</ng-template>
