@use 'sass:map';

$background: #1c1c1e;

$neutral: (
    50: #ffffff,
    100: #fffbed,
    200: #f9f5e1,
    300: #e9e2bf,
    400: #b8b8a2,
    700: #3d3d3d,
    800: #212121,
    900: #000000,
);

$primary: (
    300: #be83d7,
    400: #a86dc1,
    500: #a04ac5,
    600: #9131ba,
    700: #692487,
    800: #4a1b5f,
    900: #421157,
);

$success: (
    300: #83c06d,
    400: #66af4c,
    500: #599942,
);

$warning: (
    300: #fab81b,
    400: #f6861f,
    500: #f25322,
    700: #8c4a0d,
    900: #261404,
);

$gray: (
    200: #6e6e75,
    300: #55555a,
    400: #3f3f46,
);

$opacities: (
    7: 0.07,
    25: 0.25,
    40: 0.4,
    50: 0.5,
    75: 0.75,
    80: 0.8,
);

$box-shadow: (
    outer-darker-purple: 'inset 0 3px 3px 0 #{map.get($primary, 1)}',
    outer-glow-large: 'inset -2px 0 0 0 #{map.get($warning, 300)}, inset 2px 0 0 0 #{map.get($warning, 300)}',
    outer-glow-small: 'inset -1px 0 0 0 #{map.get($warning, 300)}, inset 1px 0 0 0 #{map.get($warning, 300)}',
);

$gradient: (
    violet-twilight: linear-gradient(to bottom, map.get($primary, 600) 25%, map.get($primary, 800)),
    lavender-dream: linear-gradient(to bottom, map.get($primary, 500) 25%, map.get($primary, 600)),
);
