@use 'sass:list';

$font-face: (
    ('roboto-condensed', 100, null, 'Roboto_Condensed/RobotoCondensed-Thin'),
    ('roboto-condensed', 100, italic, 'Roboto_Condensed/RobotoCondensed-ThinItalic'),
    ('roboto-condensed', 200, null, 'Roboto_Condensed/RobotoCondensed-ExtraLight'),
    ('roboto-condensed', 200, italic, 'Roboto_Condensed/RobotoCondensed-ExtraLightItalic'),
    ('roboto-condensed', 300, null, 'Roboto_Condensed/RobotoCondensed-Light'),
    ('roboto-condensed', 300, italic, 'Roboto_Condensed/RobotoCondensed-LightItalic'),
    ('roboto-condensed', 400, null, 'Roboto_Condensed/RobotoCondensed-Regular'),
    ('roboto-condensed', 500, null, 'Roboto_Condensed/RobotoCondensed-Medium'),
    ('roboto-condensed', 500, italic, 'Roboto_Condensed/RobotoCondensed-MediumItalic'),
    ('roboto-condensed', 600, null, 'Roboto_Condensed/RobotoCondensed-SemiBold'),
    ('roboto-condensed', 600, italic, 'Roboto_Condensed/RobotoCondensed-SemiBoldItalic'),
    ('roboto-condensed', 700, null, 'Roboto_Condensed/RobotoCondensed-Bold'),
    ('roboto-condensed', 700, italic, 'Roboto_Condensed/RobotoCondensed-BoldItalic'),
    ('roboto-condensed', 800, null, 'Roboto_Condensed/RobotoCondensed-ExtraBold'),
    ('roboto-condensed', 800, italic, 'Roboto_Condensed/RobotoCondensed-ExtraBoldItalic'),
    ('roboto-condensed', 900, null, 'Roboto_Condensed/RobotoCondensed-Black'),
    ('roboto-condensed', 900, italic, 'Roboto_Condensed/RobotoCondensed-BlackItalic'),
    ('roboto', 100, null, 'Roboto/Roboto-Thin'),
    ('roboto', 100, italic, 'Roboto/Roboto-ThinItalic'),
    ('roboto', 300, null, 'Roboto/Roboto-Light'),
    ('roboto', 300, italic, 'Roboto/Roboto-LightItalic'),
    ('roboto', 400, null, 'Roboto/Roboto-Regular'),
    ('roboto', 500, null, 'Roboto/Roboto-Medium'),
    ('roboto', 500, italic, 'Roboto/Roboto-MediumItalic'),
    ('roboto', 700, null, 'Roboto/Roboto-Bold'),
    ('roboto', 700, italic, 'Roboto/Roboto-BoldItalic'),
    ('roboto', 900, null, 'Roboto/Roboto-Black'),
    ('roboto', 900, italic, 'Roboto/Roboto-BlackItalic')
);

@each $properties in $font-face {
    $name: list.nth($properties, 1);
    $weight: list.nth($properties, 2);
    $style: list.nth($properties, 3);
    $url: list.nth($properties, 4);

    @font-face {
        font-family: $name;
        font-weight: $weight;
        @if $style {
            font-style: $style;
        }
        src: url('../../fonts/#{$url}.ttf') format('truetype');
    }
}

$font-family: (
    roboto-condensed: roboto-condensed system-ui sans-serif,
    roboto: roboto system-ui sans-serif,
);

@each $name, $family in $font-family {
    %font-#{$name} {
        font-family: $family;
    }
}

$font: (
    'caption-3': (
        11px,
        400,
        15px,
    ),
    'caption-2': (
        12px,
        400,
        19px,
    ),
    'caption-1': (
        12px,
        400,
        19px,
    ),
    'body-2': (
        16px,
        400,
        24px,
    ),
    'body-1': (
        19px,
        400,
        23px,
    ),
    'subtitle-1': (
        24px,
        400,
        24px,
    ),
    'title-3': (
        32px,
        700,
        42px,
    ),
    'title-2': (
        44px,
        700,
        48px,
    ),
    'title-1': (
        48px,
        700,
        53px,
    ),
    'large-title': (
        55px,
        700,
        66px,
    ),
    'display': (
        72px,
        700,
        84px,
    ),
);

@each $name, $properties in $font {
    $size: list.nth($properties, 1);
    $weight: list.nth($properties, 2);
    $height: list.nth($properties, 3);

    %#{$name} {
        font-size: $size;
        font-weight: $weight;
        line-height: $height;
    }
}
