<div
    *ngIf="!isSidenav"
    class="w-full h-[70px] bg-primaryLight dark:bg-primaryDark border-b-secondaryLight dark:border-b-secondaryDark border-b-[1px] flex items-center md:justify-center pl-3 pr-3"
>
    <div id="leftHeader" class="hidden flex-auto w-0 md:block">
        <a
            *ngIf="showHome"
            [routerLink]="[inventoryClass.getPath().home]"
            class="text-2xl hover:underline hover:cursor-pointer"
        >
            {{ wordingClass.getHeader().accueil | uppercase }}
        </a>
    </div>

    <div id="centerHeader" class="flex-auto w-0 flex justify-center">
        <a
            href="https://eu.wargaming.net/clans/wot/500179430/"
            target="_blank"
            class="border-secondaryLight dark:border-secondaryDark border-[1px] rounded-full flex items-center w-max"
            rel="noopener"
        >
            <img
                src="assets/other/logo.png"
                alt="Logo du clan LCHP"
                class="h-[53px] w-[52px] m-1"
            />
        </a>
    </div>

    <div id="rightHeader" class="hidden w-0 flex-auto md:flex justify-end">
        <div>
            <a
                *ngIf="showTank"
                [routerLink]="[inventoryClass.getPath().charsEtEquipements]"
                class="mr-5 hover:underline hover:cursor-pointer text-2xl"
            >
                {{ wordingClass.getHeader().charEtEquipement | uppercase }}
            </a>
        </div>
        <div>
            <a
                *ngIf="showWar && inventoryClass.getFeatureFlipping().clanWar"
                class="hover:underline hover:cursor-pointer text-2xl"
            >
                {{ wordingClass.getHeader().clanWar | uppercase }}
            </a>
        </div>
    </div>
</div>

<div *ngIf="isSidenav" class="space-y-10">
    <div id="leftHeader" class="flex-auto ml-2">
        <a
            *ngIf="showHome"
            [routerLink]="[inventoryClass.getPath().home]"
            class="text-2xl hover:underline hover:cursor-pointer"
        >
            {{ wordingClass.getHeader().accueil | uppercase }}
        </a>
    </div>

    <div class="ml-2">
        <a
            *ngIf="showTank"
            [routerLink]="[inventoryClass.getPath().charsEtEquipements]"
            class="hover:underline hover:cursor-pointer text-2xl"
        >
            {{ wordingClass.getHeader().charEtEquipement | uppercase }}
        </a>
    </div>

    <div class="ml-2">
        <a
            *ngIf="showWar && inventoryClass.getFeatureFlipping().clanWar"
            class="hover:underline hover:cursor-pointer text-2xl"
        >
            {{ wordingClass.getHeader().clanWar | uppercase }}
        </a>
    </div>
</div>
