@use 'sass:map';
@use '../../../scss/abstract/spacings';
@use '../../../scss/abstract/width';

:host {
    height: 100%;
    max-height: fit-content;

    width: 100%;
    min-width: width.$min-width;

    padding: map.get(spacings.$spacings, 32);
}
