<div
    id="conteneurHome"
    class="flex flex-col flex-wrap items-center justify-center space-y-10 p-4 pt-8 desktop:flex-row desktop:space-y-0"
>
    <div
        id="leftHome"
        class="flex w-0 flex-auto flex-col items-center justify-around space-y-10"
    >
        <mat-spinner *ngIf="showSpinnerServer"></mat-spinner>
        <mat-card
            *ngIf="!showSpinnerServer"
            class="h-min w-[320px] dark:[--mdc-elevated-card-container-color:#000000] tablette:w-[730px] desktop:w-[500px]"
            id="statusOfServer"
        >
            <mat-card-header class="mb-3 flex items-center">
                <img
                    mat-card-avatar
                    src="assets/other/server.svg"
                    alt=""
                    class="brightness-0 contrast-[105%] hue-rotate-[57deg] invert-0 saturate-[100%] sepia-[94%] filter dark:contrast-[101%] dark:hue-rotate-[164deg] dark:invert-[100%] dark:saturate-[100%] dark:sepia-[100%]"
                />
                <mat-card-title
                    class="underline [--mat-card-title-text-size:25px]"
                >
                    {{ wordingClass.getHome().statusServer }}
                </mat-card-title>
            </mat-card-header>

            <mat-card-content id="contentServeur" class="space-y-2">
                <div
                    *ngFor="let server of wotServer.data.wot"
                    class="flex items-center space-x-8 tablette:space-x-10"
                >
                    <strong>{{ server.server }}</strong>
                    <img src="assets/other/ok.svg" alt="" class="w-[25px]" />
                    <div
                        >{{ server.players_online }}
                        {{ wordingClass.getHome().joueurs }}</div
                    >
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card
            *ngIf="!memberStore.get('isVisitor')"
            class="h-min w-[320px] dark:[--mdc-elevated-card-container-color:#000000] tablette:w-[730px] desktop:w-[500px]"
            id="clanInformation"
        >
            <mat-card-header class="mb-3 flex items-center">
                <img
                    mat-card-avatar
                    src="assets/other/information.svg"
                    alt=""
                    class="dark:contrast-[101%] dark:hue-rotate-[164deg] dark:invert-[100%] dark:saturate-[100%] dark:sepia-[100%]"
                />
                <mat-card-title
                    class="underline [--mat-card-title-text-size:25px]"
                    >{{ wordingClass.getHome().information }}</mat-card-title
                >
            </mat-card-header>

            <mat-card-content
                class="space-y-4 whitespace-pre-line text-justify"
            >
                <div>{{ informationClass.getText() }}</div>
                <div class="flex justify-end">
                    <a
                        href="{{ informationClass.getURL() }}"
                        target="_blank"
                        class="flex space-x-4 text-linkLight underline dark:text-linkDark"
                    >
                        <div>{{ informationClass.getLinkText() }}</div>
                        <img
                            src="assets/tanks/super_conqueror.icon.svg"
                            alt=""
                        />
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div
        id="rightHome"
        class="hidden desktop:flex desktop:w-0 desktop:flex-auto desktop:justify-center"
    >
        <mat-spinner *ngIf="showSpinnerClanRatings"></mat-spinner>

        <mat-card
            *ngIf="!showSpinnerClanRatings && showClanRatingsCard"
            class="h-fit w-[600px] dark:[--mdc-elevated-card-container-color:#000000]"
        >
            <mat-card-header class="mb-2 flex items-center justify-center">
                <img src="assets/other/logo.png" alt="" />
            </mat-card-header>

            <mat-card-content
                class="h-full bg-[url('/assets/other/clan_ratings_little.jpg')]"
            >
                <div class="mt-4 flex space-x-12 text-secondaryDark">
                    <div
                        class="grid w-0 flex-auto grid-cols-2 grid-rows-4 gap-3 pl-4"
                    >
                        <div class="flex h-full w-full justify-center">
                            <img
                                src="assets/other/castle.svg"
                                alt=""
                                class="h-[60px] brightness-0 contrast-[106%] hue-rotate-[81deg] invert-[100%] saturate-[100%] sepia-[3%] filter"
                            />
                        </div>

                        <span
                            class="self-center text-center text-title underline"
                            >{{
                                wordingClass.getHome().bastion | titlecase
                            }}</span
                        >

                        <div class="self-center text-center">X</div>
                        <div class="self-center text-center">
                            {{
                                wotClanRatings.data['500179430']
                                    .fb_elo_rating_10.value
                            }}
                        </div>

                        <div class="self-center text-center">VIII</div>
                        <div class="self-center text-center">
                            {{
                                wotClanRatings.data['500179430'].fb_elo_rating_8
                                    .value
                            }}
                        </div>

                        <div class="self-center text-center">VI</div>
                        <div class="self-center text-center">
                            {{
                                wotClanRatings.data['500179430'].fb_elo_rating_6
                                    .value
                            }}
                        </div>
                    </div>

                    <div
                        class="grid w-0 flex-auto grid-cols-2 grid-rows-4 gap-3 pr-4"
                    >
                        <div class="flex h-full w-full justify-center">
                            <img
                                src="assets/other/map.svg"
                                alt=""
                                class="h-[60px] justify-self-end brightness-0 contrast-[106%] hue-rotate-[81deg] invert-[100%] saturate-[100%] sepia-[3%] filter"
                            />
                        </div>

                        <span
                            class="self-center text-center text-title underline"
                            >{{
                                wordingClass.getHome().clanWar | titlecase
                            }}</span
                        >

                        <div class="self-center text-center">X</div>
                        <div class="self-center text-center">
                            {{
                                wotClanRatings.data['500179430']
                                    .gm_elo_rating_10.value
                            }}
                        </div>

                        <div class="self-center text-center">VIII</div>
                        <div class="self-center text-center">
                            {{
                                wotClanRatings.data['500179430'].gm_elo_rating_8
                                    .value
                            }}
                        </div>

                        <div class="self-center text-center">VI</div>
                        <div class="self-center text-center">
                            {{
                                wotClanRatings.data['500179430'].gm_elo_rating_6
                                    .value
                            }}
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
