<div
    class="flex flex-col flex-wrap items-center justify-center space-y-10 p-4 pt-8 desktop:flex-row desktop:space-y-0"
    id="conteneur-home"
>
    <div
        class="flex w-0 flex-auto flex-col items-center justify-around space-y-10"
        id="left-home"
    >
        <card-little
            [darkMode]="isDarkMode"
            [hasSpinner]="true"
            [showSpinner]="showSpinnerServer"
            [title]="(wording | getHome).statusServer"
            icon="server"
            id="server"
        >
            <div *ngIf="!showSpinnerServer" class="space-y-2">
                <div
                    *ngFor="let server of wotServer.data.wot"
                    class="flex items-center space-x-8 tablette:space-x-10"
                >
                    <strong>{{ server.server | replace: '20' : 'EU' }}</strong>
                    <icon [size]="25" icon="ok"></icon>
                    <div>
                        {{ server.players_online }}
                        {{ (wording | getHome).joueur
                        }}{{ server.players_online > 1 ? 's' : '' }}
                    </div>
                </div>
            </div>
        </card-little>

        <card-little
            *ngIf="!isVisitor"
            [darkMode]="isDarkMode"
            [title]="(wording | getHome).information"
            icon="information"
            id="information"
        >
            <div class="space-y-4 whitespace-pre-line text-justify">
                <div>{{ information | getText }}</div>
                <div class="flex justify-end">
                    <a
                        [routerLink]="information | getUrl"
                        class="flex space-x-4 text-linkLight underline dark:text-linkDark"
                    >
                        <div class="w-full">
                            {{ information | getLinkText }}
                        </div>
                        <icon
                            [height]="30"
                            [width]="80"
                            icon="super_conqueror"
                        ></icon>
                    </a>
                </div>
            </div>
        </card-little>

        <card-little
            *ngIf="isVisitor"
            [darkMode]="isDarkMode"
            [title]="(wording | getHome).visitorTitle"
            icon="visitor"
            id="visitor"
        >
            <div class="whitespace-pre-line text-justify">
                {{ (wording | getHome).visitorText }}
                <br /><br />
                {{ (wording | getHome).visitorHelp }}
            </div>
        </card-little>
    </div>

    <div
        class="hidden tablette:flex desktop:w-0 desktop:flex-auto desktop:justify-center"
        id="right-home"
    >
        <mat-spinner *ngIf="showSpinnerClanRatings"></mat-spinner>

        <mat-card
            *ngIf="!showSpinnerClanRatings && showClanRatingsCard"
            class="h-fit tablette:w-[730px] desktop:w-[600px] dark:[--mdc-elevated-card-container-color:#000000]"
        >
            <mat-card-header class="mb-2 flex items-center justify-center">
                <picture>
                    <source srcset="assets/other/logo.avif" type="image/avif">
                    <img
                        alt="Logo du clan LCHP"
                        class="m-1"
                        height="195"
                        ngSrc="assets/other/logo.png"
                        width="195"
                    />
                </picture>
            </mat-card-header>

            <mat-card-content
                class="h-full bg-[url('/assets/other/clan_ratings_little.jpg')] bg-no-repeat bg-center bg-cover"
            >
                <div class="mt-4 flex space-x-12 text-secondary_dark">
                    <div
                        class="grid w-0 flex-auto grid-cols-2 grid-rows-4 gap-3 pl-4"
                    >
                        <div class="flex h-full w-full justify-center">
                            <icon
                                [size]="60"
                                fill="white"
                                icon="castle"
                            ></icon>
                        </div>

                        <span
                            class="self-center text-center text-title underline"
                        >
                            {{ (wording | getHome).bastion | titlecase }}
                        </span>

                        <div class="self-center text-center">X</div>
                        <div class="self-center text-center">
                            {{
                                (wotClanRatings | getClanData).fb_elo_rating_10
                                    .value
                            }}
                        </div>

                        <div class="self-center text-center">VIII</div>
                        <div class="self-center text-center">
                            {{
                                (wotClanRatings | getClanData).fb_elo_rating_8
                                    .value
                            }}
                        </div>

                        <div class="self-center text-center">VI</div>
                        <div class="self-center text-center">
                            {{
                                (wotClanRatings | getClanData).fb_elo_rating_6
                                    .value
                            }}
                        </div>
                    </div>

                    <div
                        class="grid w-0 flex-auto grid-cols-2 grid-rows-4 gap-3 pr-4"
                    >
                        <div class="flex h-full w-full justify-center">
                            <icon [size]="60" fill="white" icon="map"></icon>
                        </div>

                        <span
                            class="self-center text-center text-title underline"
                            >{{ (wording | getHome).clanWar | titlecase }}</span
                        >

                        <div class="self-center text-center">X</div>
                        <div class="self-center text-center">
                            {{
                                (wotClanRatings | getClanData).gm_elo_rating_10
                                    .value
                            }}
                        </div>

                        <div class="self-center text-center">VIII</div>
                        <div class="self-center text-center">
                            {{
                                (wotClanRatings | getClanData).gm_elo_rating_8
                                    .value
                            }}
                        </div>

                        <div class="self-center text-center">VI</div>
                        <div class="self-center text-center">
                            {{
                                (wotClanRatings | getClanData).gm_elo_rating_6
                                    .value
                            }}
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
