@if (isLoading) {
    <mat-expansion-panel class="pointer-events-none w-full EXPANSION-PANEL {{ theme }}">
        <mat-expansion-panel-header class="EXPANSION-PANEL-HEADER {{ theme }}">
            <mat-panel-title>
                <glassait-skeleton-loading
                    [animation]="AnimationEnum.PULSE"
                    [appearance]="AppearanceEnum.LINE"
                    [color]="theme"
                    width="4rem"
                ></glassait-skeleton-loading>
            </mat-panel-title>

            <mat-panel-description>
                <glassait-skeleton-loading
                    [animation]="AnimationEnum.PULSE"
                    [appearance]="AppearanceEnum.LINE"
                    [color]="theme"
                    width="7rem"
                ></glassait-skeleton-loading>
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
} @else {
    <mat-expansion-panel class="w-full EXPANSION-PANEL {{ theme }}">
        <mat-expansion-panel-header class="EXPANSION-PANEL-HEADER {{ theme }}">
            @if (title || icon) {
                <mat-panel-title>
                    @if (title) {
                        <div *ngIf="title">{{ title }}</div>
                    }

                    @if (icon) {
                        <glassait-icon [color]="IconColorEnum.TANK" [height]="24" [icon]="icon" [width]="70"></glassait-icon>
                    }
                </mat-panel-title>
            }

            @if (description) {
                <mat-panel-description>
                    {{ writableDescription }}
                </mat-panel-description>
            }
        </mat-expansion-panel-header>

        <ng-content></ng-content>
    </mat-expansion-panel>
}
