<div
    class="flex flex-col items-center gap-normal *:flex *:w-full *:flex-col *:items-center *:gap-normal desktop:flex-row desktop:items-start"
>
    <div class="*:w-[288px] *:tablet:w-[500px]">
        <glassait-card
            [actionCallback]="{ func: actualiseBdd }"
            [actionLoading]="updateBddLoading"
            [loadingColor]="mode.mode"
            [theme]="mode.mode"
            actionAlign="end"
            actionIcon="visitor"
            actionText="{{ 'admin.bdd.action' | wording | sentenceCase }}"
            avatar="server"
            class="*:text-justify"
            hasAction="true"
            title="{{ 'admin.bdd.title' | wording | sentenceCase }}"
        >
            <p>{{ 'admin.bdd.text' | wording | sentenceCase }}</p>
        </glassait-card>

        @if (!clanReserves.isLoading && !clanReserves.isError) {
            <glassait-card
                [theme]="mode.mode"
                avatar="reserve"
                class="*:text-justify"
                subtitle="{{ 'admin.reserve.subtitle' | wording | sentenceCase }}"
                title="{{ 'admin.reserve.title' | wording | sentenceCase }}"
            >
                <form
                    [formGroup]="clanReservesFormGroup"
                    class="flex flex-col gap-normal *:flex *:flex-wrap *:items-center *:justify-between"
                >
                    @for (reserve of clanReserves.reserves; track i; let i = $index) {
                        <div>
                            <div class="flex w-[50%] min-w-[160px] flex-col">
                                <p class="font-bold">{{ reserve.name }}</p>
                                <p class="text-wrap text-secondary-100 dark:text-primary-100">
                                    Bonus {{ reserve.bonus_type | replace: 'obtenue' : '' | replace: 'obtenus' : '' }}
                                </p>
                            </div>

                            @if (!reserve.active_till) {
                                <div class="w-[30%] min-w-[100px]">
                                    <glassait-select
                                        formControlName="{{ reserve.type }}"
                                        [theme]="mode.mode"
                                        class="w-[6.25rem]"
                                        label="{{ 'admin.reserve.label_select' | wording | sentenceCase }}"
                                        [options]="reserve.options"
                                    ></glassait-select>
                                </div>
                                <div class="w-[20%] min-w-[80px]">
                                    <glassait-button
                                        class="w-fit"
                                        [theme]="mode.mode === ModeEnum.DARK ? ButtonThemeEnum.DARK : ButtonThemeEnum.LIGHT"
                                        text="{{ 'admin.reserve.label_button' | wording | sentenceCase }}"
                                        [type]="ButtonTypeEnum.RAISED"
                                        (click)="activateReserve($event, reserve.type)"
                                        [disabled]="!clanReservesFormGroup.controls[reserve.type].value"
                                    ></glassait-button>
                                </div>
                            } @else if (reserve.clock) {
                                Temps restant :
                                @if (reserve.clock.seconds() > 0) {
                                    {{ reserve.clock.hours() }}h {{ reserve.clock.minutes() }} min {{ reserve.clock.seconds() }} sec
                                } @else {
                                    00:00:00
                                }
                            }
                        </div>
                    }
                </form>
            </glassait-card>
        } @else {
            <glassait-card
                avatar="reserve"
                subtitle=""
                title=""
                [isLoading]="clanReserves.isLoading"
                [loadingColor]="mode.mode"
            ></glassait-card>
        }
    </div>

    <div class="*:w-[288px] *:tablet:w-[500px]">
        <glassait-card
            [theme]="mode.mode"
            avatar="server"
            class="*:text-justify"
            subtitle="{{ 'admin.features.subtitle' | wording | sentenceCase }}"
            title="{{ 'admin.features.title' | wording | sentenceCase }}"
        >
            <div>
                @for (feature of features.keys; track $index) {
                    <div class="flex items-center">
                        <glassait-icon
                            icon="map"
                            [color]="mode.mode === ModeEnum.DARK ? IconColorEnum.DARK : IconColorEnum.LIGHT"
                            size="40"
                        ></glassait-icon>
                        <p class="w-full">{{ feature }}</p>
                        <glassait-button
                            [text]="
                                (feature | value: features.value)
                                    ? ('admin.features.désactiver' | wording | sentenceCase)
                                    : ('admin.features.activer' | wording | sentenceCase)
                            "
                            [theme]="mode.mode === ModeEnum.DARK ? ButtonThemeEnum.DARK : ButtonThemeEnum.LIGHT"
                            [type]="ButtonTypeEnum.RAISED"
                            (click)="featuresApi.updateFeature(feature, member.accessToken)"
                        ></glassait-button>
                    </div>
                }
            </div>
        </glassait-card>
    </div>
</div>
