@use 'sass:map';
@use '../../../scss/abstract/colors';
@use '../../../scss/abstract/borders';

:host {
    width: max-content;

    &.title-3,
    &.subtitle-1 {
        & > fold-icon {
            background: map.get(colors.$neutral, 50);

            border-radius: map.get(borders.$border-radius, 4);
        }
    }
}
