@use 'sass:map';
@use '../../../scss/abstract/colors';
@use '../../../scss/abstract/borders';
@use '../../../scss/mixins/flex' as *;

:host {
    @include flex-container(
        (
            align: center,
            justify: center,
        )
    );

    width: max-content;

    &.title-3,
    &.subtitle-1 {
        & > fold-icon {
            background: map.get(colors.$neutral, 50);

            border-radius: map.get(borders.$border-radius, 4);
        }
    }
}
