<div
    class="flex flex-col lg:flex-row pt-5 pb-4 flex-wrap lg:justify-center 2xl:justify-start lg:space-y-5 2xl:space-y-0"
>
    <div
        class="flex 2xl:block flex-col lg:flex-row 2xl:flex-col items-center flex-grow-[0.2] space-y-5 lg:space-y-0 2xl:space-y-5 lg:space-x-5 2xl:space-x-0"
    >
        <div
            class="flex lg:flex-col 2xl:flex-row space-x-2 md:space-x-6 lg:space-x-0 2xl:space-x-6 lg:space-y-4 2xl:space-y-0"
        >
            <img
                src="assets/crew/{{
                    crew | lowercase | replace: ' ' : '_'
                }}.webp"
                class="border-secondaryLight dark:border-secondaryDark border-[1px] rounded w-[53px] md:w-[70px] md:h-[70px]"
                alt="{{ crew }}"
                title="{{ crew }}"
                *ngFor="let crew of tankData?.crew"
            />
        </div>

        <div
            class="flex lg:flex-col 2xl:flex-row space-x-2 md:space-x-6 lg:space-x-0 2xl:space-x-6 lg:space-y-4 2xl:space-y-0"
            *ngFor="let skills of tankData?.skills"
        >
            <img
                src="assets/skills/{{
                    skill | lowercase | replace: ' ' : '_'
                }}.png"
                class="border-secondaryLight dark:border-secondaryDark border-[1px] rounded w-[53px] md:w-[70px]"
                alt="{{ skill }}"
                title="{{ skill }}"
                *ngFor="let skill of skills"
            />
        </div>
    </div>

    <div
        id="conteneurTankEquipementDescriptionRight"
        class="flex flex-col justify-between lg:items-end flex-grow-[2] lg:mr-10 space-y-5 lg:space-y-0"
    >
        <div
            class="flex flex-col lg:flex-row flex-wrap items-center justify-center space-y-5 lg:space-y-0 lg:space-x-20"
        >
            <div>
                <img
                    src="assets/tanks/{{
                        tankData.name
                            | lowercase
                            | replace: ' ' : '_'
                            | replace: '/' : '_'
                    }}.png"
                    alt=""
                    class="w-[350px]"
                />
            </div>

            <div
                class="flex flex-row lg:flex-col justify-around items-center space-x-4lg:space-x-0 lg:space-y-6"
            >
                <div *ngFor="let shell of tankData.shells">
                    <div class="text-xl relative -top-[3px] left-[2px] h-0 w-0">
                        {{ shell.amount }}
                    </div>
                    <img
                        src="assets/shells/{{ shell.premium ? 'prem-' : '' }}{{
                            shell.name | lowercase
                        }}.png"
                        alt="{{ shell.name }}"
                        title="{{ shell.name }}"
                        class="w-[70px] border-secondaryLight dark:border-secondaryDark border-[1px] rounded"
                    />
                </div>
            </div>

            <div class="space-y-4 md:space-y-6 lg:mt-5 2xl:mt-0">
                <div
                    class="flex flex-col md:flex-row items-center justify-evenly space-y-4 md:space-y-0 md:space-x-20"
                >
                    <div class="flex space-x-4">
                        <img
                            src="assets/equipments/{{
                                equipment.name | lowercase | replace: ' ' : '_'
                            }}.png"
                            alt="{{ equipment.name }}"
                            title="{{ equipment.name }}"
                            *ngFor="let equipment of tankData.equipments.first"
                            class="w-[70px] border-secondaryLight dark:border-secondaryDark border-[1px] rounded"
                        />
                    </div>

                    <div class="flex space-x-4">
                        <img
                            src="assets/consomables/{{
                                consomable | lowercase | replace: ' ' : '_'
                            }}.png"
                            alt="{{ consomable }}"
                            title="{{ consomable }}"
                            *ngFor="
                                let consomable of tankData.consomables.first
                            "
                            class="w-[70px] border-secondaryLight dark:border-secondaryDark border-[1px] rounded"
                        />
                    </div>
                </div>

                <div class="flex justify-center items-center">
                    <img
                        src="assets/equipments/{{
                            tankData.directive.image
                        }}.png"
                        alt="{{ tankData.directive.name }}"
                        class="w-[70px] bg-secondaryLight dark:bg-secondaryDark rounded -mr-[70px]"
                    />
                    <img
                        src="assets/equipments/directive.png"
                        alt="directive icone"
                        title="{{ tankData.directive.name }}"
                        class="relative w-[70px]"
                    />
                </div>

                <div
                    class="flex flex-col md:flex-row items-center justify-evenly space-y-4 md:space-y-0 md:space-x-20"
                >
                    <div class="flex space-x-4">
                        <img
                            src="assets/equipments/{{
                                equipment.name | lowercase | replace: ' ' : '_'
                            }}.png"
                            alt="{{ equipment.name }}"
                            title="{{ equipment.name }}"
                            *ngFor="let equipment of tankData.equipments.second"
                            class="w-[70px] border-secondaryLight dark:border-secondaryDark border-[1px] rounded"
                        />
                    </div>

                    <div class="flex space-x-4">
                        <img
                            src="assets/consomables/{{
                                consomable | lowercase | replace: ' ' : '_'
                            }}.png"
                            alt="{{ consomable }}"
                            title="{{ consomable }}"
                            *ngFor="
                                let consomable of tankData.consomables.second
                            "
                            class="w-[70px] border-secondaryLight dark:border-secondaryDark border-[1px] rounded"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div
            class="flex flex-col md:flex-row md:flex-wrap xl:flex-nowrap items-center lg:items-start md:justify-between lg:justify-center space-y-5 lg:space-x-5"
        >
            <div
                *ngFor="let field of tankData?.fields"
                class="flex h-[70px] -ml-[32px] lg:-ml-0 first:md:mt-5"
            >
                <img
                    src="assets/fields/roman_number_{{ field.level }}.png"
                    alt=""
                    class="relative z-[3] -top-4 left-[50%] w-8 h-8"
                />

                <div
                    *ngFor="let part of field.field | keyvalue"
                    class="w-[70px] -mb-[70px]"
                    title="{{ part.value.name }}"
                >
                    <img
                        src="{{ getURL(part.value) }}"
                        alt="{{ part.value.name }}"
                        class="w-[70px]"
                    />
                    <img
                        *ngIf="part.value.active"
                        src="assets/fields/active.png"
                        class="relative -top-[70px] left-0 z-[2]"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
