<div
    class="flex flex-wrap justify-center pb-4 pt-5 tablette:space-y-6 desktop:justify-around min-[]::space-y-0"
>
    <div
        class="flex flex-grow-[0.2] flex-col items-center justify-center space-y-5 tablette:flex-row tablette:space-x-4 tablette:space-y-0 desktop:flex-grow-0 desktop:flex-col desktop:space-x-0 desktop:space-y-4"
    >
        <div
            class="flex space-x-2 tablette:flex-col tablette:space-x-0 tablette:space-y-4 desktop:flex-row desktop:space-x-4 desktop:space-y-0"
        >
            <img
                src="assets/crew/{{ crew | image }}.svg"
                class="h-11 w-11 rounded border-[1px] border-secondaryLight dark:contrast-[101%] dark:hue-rotate-[164deg] dark:invert-[100%] dark:saturate-[100%] dark:sepia-[100%] tablette:h-[70px] tablette:w-[70px]"
                alt="{{ crew }}"
                title="{{ crew }}"
                *ngFor="let crew of tankData?.crew"
            />
        </div>

        <div
            class="flex space-x-2 tablette:flex-col tablette:space-x-0 tablette:space-y-4 desktop:flex-row desktop:space-x-4 desktop:space-y-0"
            *ngFor="let skills of tankData?.skills"
        >
            <img
                src="assets/skills/{{ skill | image }}.png"
                class="h-11 w-11 rounded border-[1px] border-secondaryLight dark:border-secondaryDark tablette:h-[70px] tablette:w-[70px]"
                alt="{{ skill }}"
                title="{{ skill }}"
                *ngFor="let skill of skills"
            />
        </div>
    </div>

    <div
        class="flex flex-wrap justify-center space-y-8 tablette:space-y-10 desktop:flex-col desktop:justify-around"
    >
        <div
            class="flex flex-wrap items-center justify-center space-y-6 min-[1025px]:space-x-2 desktop:space-y-0 min-[1632px]:space-x-5"
        >
            <div>
                <img
                    src="assets/tanks/{{ tankData.name | image }}.png"
                    alt=""
                    class="w-[350px] max-[1632px]:min-[1025px]:w-48"
                />
            </div>

            <div
                class="flex flex-row items-center justify-around space-x-4 tablette:flex-col tablette:space-x-0 tablette:space-y-4"
            >
                <div *ngFor="let shell of tankData.shells">
                    <div class="relative left-[2px] h-0 w-0 text-normal">
                        {{ shell.amount }}
                    </div>
                    <img
                        src="assets/shells/{{ shell.premium ? 'prem-' : '' }}{{
                            shell.name | image
                        }}.png"
                        alt="{{ shell.name }}"
                        title="{{ shell.name }}"
                        class="w-[70px] rounded border-[1px] border-secondaryLight dark:border-secondaryDark"
                    />
                </div>
            </div>

            <div class="space-y-4">
                <div
                    class="flex flex-wrap items-center justify-evenly space-y-4 tablette:space-x-12 tablette:space-y-0"
                >
                    <div class="flex space-x-4">
                        <img
                            src="assets/equipments/{{
                                equipment.name | image
                            }}.png"
                            alt="{{ equipment.name }}"
                            title="{{ equipment.name }}"
                            *ngFor="let equipment of tankData.equipments.first"
                            class="w-[70px] rounded border-[1px] border-secondaryLight dark:border-secondaryDark"
                        />
                    </div>

                    <div class="flex space-x-4">
                        <img
                            src="assets/consomables/{{
                                consomable | image
                            }}.png"
                            alt="{{ consomable }}"
                            title="{{ consomable }}"
                            *ngFor="
                                let consomable of tankData.consomables.first
                            "
                            class="w-[70px] rounded border-[1px] border-secondaryLight dark:border-secondaryDark"
                        />
                    </div>
                </div>

                <div class="flex items-center justify-center">
                    <img
                        src="assets/equipments/{{
                            tankData.directive.image
                        }}.png"
                        alt="{{ tankData.directive.name }}"
                        class="-mr-[70px] w-[70px] rounded border-[1px] border-ok bg-secondaryLight opacity-80"
                    />
                    <img
                        src="assets/equipments/directive.png"
                        alt="directive icone"
                        title="{{ tankData.directive.name }}"
                        class="relative w-[70px]"
                    />
                </div>

                <div
                    class="flex flex-wrap items-center justify-evenly space-y-4 tablette:space-x-12 tablette:space-y-0"
                >
                    <div class="flex space-x-4">
                        <img
                            src="assets/equipments/{{
                                equipment.name | image
                            }}.png"
                            alt="{{ equipment.name }}"
                            title="{{ equipment.name }}"
                            *ngFor="let equipment of tankData.equipments.second"
                            class="w-[70px] rounded border-[1px] border-secondaryLight dark:border-secondaryDark"
                        />
                    </div>

                    <div class="flex space-x-4">
                        <img
                            src="assets/consomables/{{
                                consomable | image
                            }}.png"
                            alt="{{ consomable }}"
                            title="{{ consomable }}"
                            *ngFor="
                                let consomable of tankData.consomables.second
                            "
                            class="w-[70px] rounded border-[1px] border-secondaryLight dark:border-secondaryDark"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div
            class="ml-7 mr-7 flex flex-wrap justify-center space-y-5 min-[390px]:max-[428px]:-ml-1 min-[390px]:max-[428px]:space-y-reverse tablette:-ml-10 tablette:mr-0 tablette:space-y-0 desktop:-ml-0"
        >
            <div
                *ngFor="let field of tankData?.fields"
                class="-ml-10 flex h-[70px] min-[390px]:max-[428px]:-m-0 tablette:-ml-0 first:tablette:mb-10 desktop:-ml-6 first:desktop:mb-0 min-[1632px]:-ml-0"
            >
                <img
                    src="assets/fields/roman_number_{{ field.level }}.png"
                    alt=""
                    class="relative -top-4 left-[50%] z-[3] h-8 w-8"
                />

                <div
                    *ngFor="let part of field.field | keyvalue"
                    class="relative -mb-[70px] w-[70px]"
                    title="{{ part.value.name }}"
                >
                    <img
                        src="{{ part.value | getFieldUrl }}"
                        alt="{{ part.value.name }}"
                        class="absolute inset-0 w-[70px]"
                    />
                    <img
                        *ngIf="part.value.active"
                        src="assets/fields/active.png"
                        class="absolute inset-0"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
