<div
    class='relative flex flex-wrap justify-center gap-6 pb-4 pt-5 desktop:justify-around'
>
    <div
        class='flex flex-wrap items-center justify-center min-[650px]:max-[767px]:w-32 gap-5 text-normal text-link_light dark:text-link_dark min-[880px]:max-[1439px]:w-32 desktop:absolute desktop:-top-3 desktop:right-2'
    >
        <a
            *ngFor='let link of tankData.links'
            class='flex h-fit items-center gap-2 underline'
            href='{{ link.url }}'
            rel='noreferrer'
            target='_blank'
        >
            {{ link.name }}
            <!-- <glassait-icon
                 [color]='isDark ? IconColorEnum.DARK_BLUE : IconColorEnum.LIGHT_BLUE'
                 [size]='16'
                 icon='redirect'
             ></glassait-icon>-->
        </a>
    </div>

    <div
        class='flex flex-grow-[0.2] flex-col items-center justify-center gap-4 tablette:flex-row tablette:gap-4 desktop:flex-grow-0 desktop:flex-col'
    >
        <div
            class='flex gap-2 tablette:flex-col tablette:gap-4 desktop:flex-row'
        >
            <!--<icon
                *ngFor='let crew of tankData?.crew'
                [color]='isDark ? IconColorEnum.LIGHT : IconColorEnum.DARK'
                [size]='isMobile ? 54 : 69'
                class='rounded border-[1px] border-secondary_light dark:border-secondary_dark'
                icon='{{ crew | image }}'
                title='{{ crew }}'
            ></icon>-->
        </div>

        <div
            *ngFor='let skills of tankData?.skills'
            class='flex gap-2 tablette:flex-col tablette:gap-4 desktop:flex-row'
        >
            <picture *ngFor='let skill of skills'>
                <source
                    srcset='assets/skills/{{ skill | image }}.avif'
                    type='image/avif'
                />
                <img
                    [height]='isMobile ? 55 : 70'
                    [width]='isMobile ? 55 : 70'
                    alt='{{ skill }}'
                    class='rounded border-[1px] border-secondary_light dark:border-secondary_dark'
                    ngSrc='assets/skills/{{ skill | image }}.png'
                    title='{{ skill }}'
                />
            </picture>
        </div>
    </div>

    <div
        class='flex flex-wrap justify-center gap-10 desktop:flex-col desktop:justify-around'
    >
        <div class='flex flex-wrap items-center justify-center gap-6'>
            <div>
                <picture>
                    <source
                        srcset='assets/tanks/{{ tankData.name | image }}.avif'
                        type='image/avif'
                    />
                    <img
                        alt='Image de {{ tankData.name }}'
                        class='max-[1632px]:min-[1450px]:w-48'
                        height='350'
                        ngSrc='assets/tanks/{{ tankData.name | image }}.png'
                        title='{{ tankData.name }}'
                        width='350'
                    />
                </picture>
            </div>

            <div
                class='flex flex-row items-center justify-around gap-4 tablette:flex-col'
            >
                <div *ngFor='let shell of tankData.shells'>
                    <div class='relative left-[2px] h-0 w-0 text-normal'>
                        {{ shell.amount }}
                    </div>
                    <picture>
                        <source
                            srcset="assets/shells/{{
                            shell.premium ? 'prem-' : ''
                        }}{{ shell.name | image }}.avif"
                            type='image/avif'
                        />
                        <img
                            alt='Image de {{ shell.name }}'
                            class='rounded border-[1px] border-secondary_light dark:border-secondary_dark'
                            height='70'
                            ngSrc="assets/shells/{{
                                shell.premium ? 'prem-' : ''
                            }}{{ shell.name | image }}.png"
                            title='{{ shell.name }}'
                            width='70'
                        />
                    </picture>
                </div>
            </div>

            <div class='flex flex-col gap-4'>
                <div
                    class='flex flex-wrap items-center justify-evenly gap-4 tablette:gap-12'
                >
                    <div class='flex h-[70px] gap-4'>
                        <div
                            *ngFor='let equipment of tankData.equipments.first'
                            class='relative w-[70px]'
                        >
                            <picture>
                                <source
                                    srcset='assets/equipments/{{
                                    equipment.name | image
                                }}.avif'
                                    type='image/avif'
                                />
                                <img
                                    alt='Image de {{ equipment.name }}'
                                    class='absolute inset-0 rounded border-[1px] border-secondary_light dark:border-secondary_dark'
                                    height='70'
                                    ngSrc='assets/equipments/{{
                                        equipment.name | image
                                    }}.png'
                                    title='{{ equipment.name }}'
                                    width='70'
                                />
                            </picture>

                            <picture>
                                <source
                                    srcset='assets/equipments/modernized_3.avif'
                                    type='image/avif'
                                />
                                <img
                                    *ngIf='equipment.modernized'
                                    alt='Équipement modernizé'
                                    class='absolute inset-0 left-0.5 top-1'
                                    height='20'
                                    ngSrc='assets/equipments/modernized_3.png'
                                    width='20'
                                />
                            </picture>
                        </div>
                    </div>

                    <div class='flex gap-4'>
                        <picture
                            *ngFor='
                                let consumable of tankData.consumables.first
                            '
                        >
                            <source
                                srcset='assets/consumables/{{
                                    consumable | image
                                }}.avif'
                                type='image/avif'
                            />
                            <img
                                alt='{{ consumable }}'
                                class='rounded border-[1px] border-secondary_light dark:border-secondary_dark'
                                height='70'
                                ngSrc='assets/consumables/{{
                                    consumable | image
                                }}.png'
                                title='{{ consumable }}'
                                width='70'
                            />
                        </picture>
                    </div>
                </div>

                <div class='flex items-center justify-center'>
                    <picture
                        class='-mr-[70px] w-[70px] rounded border-[1px] border-ok bg-secondary_light opacity-80'
                    >
                        <source
                            srcset='assets/equipments/{{
                            tankData.directive.image
                        }}.avif'
                            type='image/avif'
                        />
                        <img
                            alt='{{ tankData.directive.name }}'
                            class='-mr-[70px]'
                            height='70'
                            ngSrc='assets/equipments/{{
                                tankData.directive.image
                            }}.png'
                            width='70'
                        />
                    </picture>

                    <picture class='relative w-[70px]'>
                        <source
                            srcset='assets/equipments/directive.avif'
                            type='image/avif'
                        />
                        <img
                            alt='directive icon'
                            class='w-[70px]'
                            height='54'
                            ngSrc='assets/equipments/directive.png'
                            title='{{ tankData.directive.name }}'
                            width='53'
                        />
                    </picture>
                </div>

                <div
                    class='flex flex-wrap items-center justify-evenly gap-4 tablette:gap-12'
                >
                    <div class='flex h-[70px] gap-4'>
                        <div
                            *ngFor='let equipment of tankData.equipments.second'
                            class='relative w-[70px]'
                        >
                            <picture>
                                <source
                                    srcset='assets/equipments/{{
                                    equipment.name | image
                                }}.avif'
                                    type='image/avif'
                                />
                                <img
                                    alt='Image de {{ equipment.name }}'
                                    class='absolute inset-0 rounded border-[1px] border-secondary_light dark:border-secondary_dark'
                                    height='70'
                                    ngSrc='assets/equipments/{{
                                        equipment.name | image
                                    }}.png'
                                    title='{{ equipment.name }}'
                                    width='70'
                                />
                            </picture>

                            <picture>
                                <source
                                    srcset='assets/equipments/modernized_3.avif'
                                    type='image/avif'
                                />
                                <img
                                    *ngIf='equipment.modernized'
                                    alt='Équipement modernizé'
                                    class='absolute inset-0 left-0.5 top-1'
                                    height='20'
                                    ngSrc='assets/equipments/modernized_3.png'
                                    width='20'
                                />
                            </picture>
                        </div>
                    </div>

                    <div class='flex gap-4'>
                        <picture
                            *ngFor='
                                let consumable of tankData.consumables.second
                            '
                        >
                            <source
                                srcset='assets/consumables/{{
                                    consumable | image
                                }}.avif'
                                type='image/avif'
                            />
                            <img
                                alt='{{ consumable }}'
                                class='rounded border-[1px] border-secondary_light dark:border-secondary_dark'
                                height='70'
                                ngSrc='assets/consumables/{{
                                    consumable | image
                                }}.png'
                                title='{{ consumable }}'
                                width='70'
                            />
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class='flex flex-wrap justify-center gap-6'>
            <div
                *ngFor='let field of tankData?.fields'
                class='-ml-10 flex h-[70px]'
            >
                <picture class='relative -top-4 left-[50%] z-[1] h-8 w-8'>
                    <source
                        srcset='assets/fields/roman_number_{{ field.level }}.avif'
                        type='image/avif'
                    />
                    <img
                        alt='Level {{ field.level }} of field'
                        height='32'
                        ngSrc='assets/fields/roman_number_{{ field.level }}.png'
                        width='32'
                    />
                </picture>

                <div
                    *ngFor='let part of field.field | keyvalue'
                    class='relative w-[70px]'
                    title='{{ part.value.name }}'
                >
                    <picture>
                        <source
                            srcset="{{ part.value | getFieldUrl: 'avif' }}"
                            type='image/avif'
                        />
                        <img
                            alt='Image de {{ part.value.name }}'
                            class='absolute inset-0'
                            height='70'
                            ngSrc="{{ part.value | getFieldUrl: 'png' }}"
                            width='70'
                        />
                    </picture>

                    <picture>
                        <source
                            srcset='assets/fields/active.avif'
                            type='image/avif'
                        />
                        <img
                            *ngIf='part.value.active'
                            alt='Field modification active'
                            class='absolute inset-0'
                            height='82'
                            ngSrc='assets/fields/active.png'
                            width='82'
                        />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>
