<h1>sandbox works!</h1>

<div>KEEP THIS CLEAN</div>

<div class='flex flex-col gap-normal'>
    <div class='flex flex-col gap-normal'>
        <h1>Type</h1>
        <div class='flex flex-col items-start gap-normal'>
            <div class='flex gap-normal bg-primary-700 p-normal'>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT_BLUE'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT'
                    disabled='true'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT'
                    [type]='ButtonTypeEnum.RAISED'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT_BLUE'
                    [type]='ButtonTypeEnum.RAISED'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT'
                    [type]='ButtonTypeEnum.RAISED'
                    disabled='true'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
            </div>
            <div class='flex gap-normal bg-secondary-700 p-normal'>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK_BLUE'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK'
                    disabled='true'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK'
                    [type]='ButtonTypeEnum.RAISED'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK_BLUE'
                    [type]='ButtonTypeEnum.RAISED'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK'
                    [type]='ButtonTypeEnum.RAISED'
                    disabled='true'
                    leftIcon='pencil'
                    text='bouton'
                ></glassait-button>
            </div>
            <div class='flex gap-normal bg-primary-700 p-normal'>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT_BLUE'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT'
                    disabled='true'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT'
                    [type]='ButtonTypeEnum.RAISED'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT_BLUE'
                    [type]='ButtonTypeEnum.RAISED'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.LIGHT'
                    [type]='ButtonTypeEnum.RAISED'
                    disabled='true'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
            </div>
            <div class='flex gap-normal bg-secondary-700 p-normal'>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK_BLUE'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK'
                    disabled='true'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK'
                    [type]='ButtonTypeEnum.RAISED'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK_BLUE'
                    [type]='ButtonTypeEnum.RAISED'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [theme]='ButtonThemeEnum.DARK'
                    [type]='ButtonTypeEnum.RAISED'
                    disabled='true'
                    leftIcon='pencil'
                    loading='true'
                    text='bouton'
                ></glassait-button>
            </div>
        </div>
    </div>

    <!--    <div class='flex flex-col gap-normal'>
            <h1> Size </h1>
            <div class='flex items-start gap-normal'>
                <glassait-button
                    [size]='SizeEnum.XSMALL'
                    [type]='ButtonTypeEnum.RAISED'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.SMALL'
                    [type]='ButtonTypeEnum.RAISED'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.NORMAL'
                    [type]='ButtonTypeEnum.RAISED'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.LARGE'
                    [type]='ButtonTypeEnum.RAISED'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.XLARGE'
                    [type]='ButtonTypeEnum.RAISED'
                    text='bouton'
                ></glassait-button>
            </div>
        </div>

        <div class='flex flex-col gap-normal'>
            <h1> Icon </h1>
            <div class='flex items-start gap-normal'>
                <glassait-button
                    [iconColor]='IconColorEnum[color]'
                    [type]='ButtonTypeEnum.RAISED'
                    leftIcon='changelog'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [iconColor]='IconColorEnum[color]'
                    [type]='ButtonTypeEnum.RAISED'
                    rightIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [iconColor]='IconColorEnum[color]'
                    [type]='ButtonTypeEnum.RAISED'
                    leftIcon='changelog'
                    rightIcon='pencil'
                    text='bouton'
                ></glassait-button>
            </div>
        </div>

        <div class='flex flex-col gap-normal'>
            <h1> loading </h1>
            <div class='flex items-start gap-normal'>
                <glassait-button
                    [loadingColor]='color'
                    [size]='SizeEnum.XSMALL'
                    [type]='ButtonTypeEnum.RAISED'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [loadingColor]='color'
                    [size]='SizeEnum.SMALL'
                    [type]='ButtonTypeEnum.RAISED'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [loadingColor]='color'
                    [size]='SizeEnum.NORMAL'
                    [type]='ButtonTypeEnum.RAISED'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [loadingColor]='color'
                    [size]='SizeEnum.LARGE'
                    [type]='ButtonTypeEnum.RAISED'
                    loading='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [loadingColor]='color'
                    [size]='SizeEnum.XLARGE'
                    [type]='ButtonTypeEnum.RAISED'
                    loading='true'
                    text='bouton'
                ></glassait-button>
            </div>
        </div>

        <div class='flex flex-col gap-normal'>
            <h1> Disabled </h1>
            <div class='flex items-start gap-normal'>
                <glassait-button
                    [size]='SizeEnum.XSMALL'
                    [type]='ButtonTypeEnum.BASIC'
                    disabled='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.SMALL'
                    [type]='ButtonTypeEnum.BASIC'
                    disabled='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.NORMAL'
                    [type]='ButtonTypeEnum.BASIC'
                    disabled='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.LARGE'
                    [type]='ButtonTypeEnum.BASIC'
                    disabled='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.XLARGE'
                    [type]='ButtonTypeEnum.BASIC'
                    disabled='true'
                    text='bouton'
                ></glassait-button>
            </div>
            <div class='flex items-start gap-normal'>
                <glassait-button
                    [size]='SizeEnum.XSMALL'
                    [theme]='ButtonThemeEnum[color]'
                    [type]='ButtonTypeEnum.RAISED'
                    disabled='true'
                    rightIcon='pencil'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.SMALL'
                    [theme]='ButtonThemeEnum[color]'
                    [type]='ButtonTypeEnum.RAISED'
                    disabled='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.NORMAL'
                    [theme]='ButtonThemeEnum[color]'
                    [type]='ButtonTypeEnum.RAISED'
                    disabled='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.LARGE'
                    [theme]='ButtonThemeEnum[color]'
                    [type]='ButtonTypeEnum.RAISED'
                    disabled='true'
                    text='bouton'
                ></glassait-button>
                <glassait-button
                    [size]='SizeEnum.XLARGE'
                    [theme]='ButtonThemeEnum[color]'
                    [type]='ButtonTypeEnum.RAISED'
                    disabled='true'
                    text='bouton'
                ></glassait-button>
            </div>
        </div>-->
</div>
