<h1>sandbox works!</h1>

<div>KEEP THIS CLEAN</div>

<div class='flex flex-col items-center'>
    <mat-accordion class='flex w-[50%] flex-col gap-demi'>
        <glassait-expansion-panel
            [color]='color'
            description='test'
            title='TITLE'
        ></glassait-expansion-panel>
        <glassait-expansion-panel
            [color]='color'
            description='test'
            title='THIS IS A BIG TITLE'
        ></glassait-expansion-panel>
        <glassait-expansion-panel
            [color]='color'
            description='test 2'
            icon='leopard_1'
        ></glassait-expansion-panel>
        <glassait-expansion-panel
            [color]='color'
            description='test 2'
            icon='leopard_1'
            isLoading='true'
        ></glassait-expansion-panel>
    </mat-accordion>
</div>
