/*
 * || IMPORT / USE
 * Tips search `||` to move to section
 */

@use '../commons/borders';
@use '../commons/box-shadow';

/*
 * || PANEL MODIFICATION
 */


.mat-expansion-panel {
    --mat-expansion-container-shape: #{borders.$borderRadius-normal} !important;
    box-shadow: box-shadow.$box-shadow-card-black !important;

    min-width: 18rem;
}

:is(.dark) .mat-expansion-panel {
    box-shadow: box-shadow.$box-shadow-card-white !important;
}
