/*
 * || IMPORT / USE
 * Tips search `||` to move to section
 */
@use '../commons/borders';
@use '../commons/colors';
@use '../commons/box-shadow';
@use '../commons/spacing';

/*
* || MENU
*/
.DARK {
    @extend %border-radius;
    box-shadow: box-shadow.$box-shadow-card-white !important;

    --mat-menu-container-color: #{colors.$secondary-700} !important;
    --mat-menu-item-focus-state-layer-color: #{colors.$secondary-400} !important;
    --mat-menu-item-hover-state-layer-color: #{colors.$secondary-400} !important;
    --mat-menu-item-icon-color: #{colors.$primary-700} !important;
    --mat-menu-item-label-text-color: #{colors.$primary-700} !important;
}

.LIGHT {
    @extend %border-radius;
    box-shadow: box-shadow.$box-shadow-card-black !important;

    --mat-menu-container-color: #{colors.$primary-700} !important;
    --mat-menu-item-focus-state-layer-color: #{colors.$primary-400} !important;
    --mat-menu-item-hover-state-layer-color: #{colors.$primary-400} !important;
    --mat-menu-item-icon-color: #{colors.$secondary-700} !important;
    --mat-menu-item-label-text-color: #{colors.$secondary-700} !important;
}

%border-radius {
    --mat-menu-container-shape: #{borders.$radius-normal} !important;
}

.cdk-overlay-connected-position-bounding-box {
    margin: 10px 0;
}

.mat-mdc-menu-item {
    padding: 0 spacing.$normal !important;
}

.START {
    justify-content: flex-start !important;
}

.END {
    justify-content: flex-end !important;
}
