/*
 * || IMPORT / USE
 * Tips search `||` to move to section
 */
@use "../commons/colors";
@use "../commons/borders";
@use "../commons/box-shadow";

/*
* || SELECT THEME
*/
.SELECT {
    @apply w-full;

    --mdc-filled-text-field-container-shape: #{borders.$radius-normal};

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .mat-mdc-form-field {
        min-width: 250px;
    }

    &.DARK_DISABLED, &.LIGHT_DISABLED {
        .mdc-text-field--filled.mdc-text-field--disabled {
            opacity: 10;
        }
    }

    &.DARK {
        // BACKGROUND
        --mdc-filled-text-field-container-color: #{colors.$secondary-200};

        // TEXT
        --mdc-filled-text-field-focus-active-indicator-color: #{colors.$primary-700};
        --mdc-filled-text-field-focus-label-text-color: #{colors.$primary-700};
        --mdc-filled-text-field-label-text-color: #{colors.$primary-700};

        // ARROW
        --mat-select-enabled-arrow-color: #{colors.$primary-700};
        --mat-select-focused-arrow-color: #{colors.$primary-700};
    }

    &.DARK_DISABLED {
        // DISABLED BACKGROUND
        --mdc-filled-text-field-disabled-container-color: #{colors.$secondary-50};

        // DISABLED ARROW
        --mat-select-disabled-arrow-color: #{colors.$primary-50}
    }

    &.LIGHT {
        // BACKGROUND
        --mdc-filled-text-field-container-color: #{colors.$primary-200};

        // TEXT
        --mdc-filled-text-field-focus-active-indicator-color: #{colors.$secondary-700};
        --mdc-filled-text-field-focus-label-text-color: #{colors.$secondary-700};
        --mdc-filled-text-field-label-text-color: #{colors.$secondary-700};

        // ARROW
        --mat-select-enabled-arrow-color: #{colors.$secondary-700};
        --mat-select-focused-arrow-color: #{colors.$secondary-700};
    }

    &.LIGHT_DISABLED {
        // DISABLED BACKGROUND
        --mdc-filled-text-field-disabled-container-color: #{colors.$primary-50};

        // DISABLED ARROW
        --mat-select-disabled-arrow-color: #{colors.$secondary-50}
    }
}

/*
* || SELECT LOADING THEME
*/
.SELECT-LOADING {
    @extend .SELECT;
    @extend %loading;

    .mat-mdc-text-field-wrapper {
        @extend %loading;
    }

    .mdc-floating-label {
        @extend %loading;
    }
}

/*
* || VARIABLE
*/
%loading {
    cursor: wait !important;
}

/*
* || ANGULAR OVERRIDE
*/
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    --mat-option-selected-state-label-text-color: #{colors.$secondary-700} !important;
}

.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: #{colors.$secondary-700} !important;
}

.mat-mdc-select-panel {
    background: colors.$primary-700;
    box-shadow: box-shadow.$box-shadow-card-black;
}

:is(.dark) .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    --mat-option-selected-state-label-text-color: #{colors.$primary-700} !important;
}

:is(.dark) .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: #{colors.$primary-700} !important;
}

:is(.dark) .mat-mdc-select-panel {
    background: colors.$secondary-700;
    box-shadow: box-shadow.$box-shadow-card-white;
}

