@if (type === ButtonTypeEnum.BASIC && !loading) {
    <button [disabled]="disabled" class="{{ size }} {{ theme }} {{ type }} BUTTON" color="primary" mat-button>
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>
}

@if (type === ButtonTypeEnum.RAISED && !loading) {
    <button [disabled]="disabled" class="{{ size }} {{ theme }} {{ type }} BUTTON" color="primary" mat-raised-button>
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>
}

@if (loading) {
    <glassait-skeleton-loading
        [animation]="AnimationEnum.PULSE"
        [appearance]="AppearanceEnum.RECTANGLE_NORMAL"
        [color]="loadingColor"
        height="{{ SizeInRemEnum[size] }}"
        width="4.5625rem"
    ></glassait-skeleton-loading>
}

<ng-template #content>
    <div class="flex items-center gap-demi">
        @if (leftIcon) {
            <glassait-icon [color]="iconColor" [icon]="leftIcon" [size]="iconSize"></glassait-icon>
        }
        <div>{{ text }}</div>
        @if (rightIcon) {
            <glassait-icon [color]="iconColor" [icon]="rightIcon" [size]="iconSize"></glassait-icon>
        }
    </div>
</ng-template>
