<section id="most-priority-tanks" class="full-width">
    <header class="gap-12">
        <h1 class="display grid-column-1-2 grid-row-1">FOLD_</h1>
        <span class="grid-column-1-6 grid-row-2 balance body-1 neutral-400">
            Bienvenue sur le site du clan <strong class="neutral-50">FOLD_</strong> ! Vous trouverez toutes les informations relatives au
            clan et à World of Tanks en naviguant sur les différentes pages du site.
        </span>
    </header>

    <main class="gap-20">
        <div class="grid-row-1 grid-column-1-12" [ngClass]="this.tanksOverview.length < 6 ? 'gap-40' : 'space-between'">
            <h2 fold-text size="title-3" iconLeft="equipment">Configurations des chars prioritaires</h2>
            <a fold-link url="/{{ PathEnum.CHARS_EQUIPMENT }}" class="neutral-100">
                <span fold-text size="large" iconRight="redirect">Tout voir</span>
            </a>
        </div>
        <div class="gris-row-2 grid-column-1-12 gap-16">
            @for (tank of tanksOverview; track $index) {
                <fold-tank-card
                    [name]="tank.name"
                    [wotName]="tank.wotName"
                    [role]="tank.role"
                    [level]="tank.level"
                    [type]="tank.type"
                    [nation]="tank.nation"
                    [priority]="tank.priority"
                    [isReward]="tank.is_reward"
                />
            }
        </div>
    </main>
</section>

<section id="wot-news" class="full-width">
    <header>
        <h2 fold-text size="title-3" iconLeft="newspaper">Nouveautés sur World Of Tanks</h2>
    </header>
    <main>
        @for (news of wotNews; track $index) {
            <fold-news-card
                class="grid-row-{{ $index < 4 ? 1 : 2 }}"
                [url]="news.url"
                [imageUrl]="news.image_url"
                [tags]="news.tags"
                [title]="news.title"
            />
        }
    </main>
    <footer>
        <button
            [openInNew]="true"
            fold-button
            fold-link
            icon="redirect"
            shape="rectangle"
            url="https://worldoftanks.eu/fr/news/"
            variant="tertiary"
        >
            Tout voir
        </button>
    </footer>
</section>

<section id="about-us" class="full-width">
    <div>
        <div class="grid-column-1-5 gap-20">
            <h2 fold-text size="title-3" class="neutral-300">A propos du clan FOLD_</h2>
            <p class="neutral-400">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                est Lorem ipsum dolor sit amet.
            </p>
        </div>
        <div class="grid-column-7-12 gap-20">
            <h3 fold-text size="title-3" class="neutral-300">Résultat Compétitif</h3>
            <div class="gap-16">
                @for (result of foldResults; track $index) {
                    <fold-news-card [title]="result.description" [tags]="[result.tag]" [imageUrl]="result.image_url" [url]="''" />
                }
            </div>
        </div>
    </div>
</section>
