@use 'sass:map';
@use 'abstract/spacings';
@use 'abstract/colors';
@use 'abstract/borders';

section {
    grid-template-rows: min-content;

    background: rgba(map.get(colors.$neutral, 900), map.get(colors.$opacities, 25))
        linear-gradient(to bottom, map.get(colors.$neutral, 900), rgba(map.get(colors.$neutral, 900), 0) 40%);

    padding: map.get(spacings.$spacings, 40) 0;

    height: 100%;

    header {
        height: fit-content;
    }

    #filter-bar {
        height: fit-content;

        padding: map.get(spacings.$spacings, 32) 0 map.get(spacings.$spacings, 40) 0;

        border-bottom: solid rgba(map.get(colors.$neutral, 50), map.get(colors.$opacities, 25)) map.get(borders.$border-width, 1);

        > * {
            flex: 1;
        }
    }

    #tanks-carousel {
        flex-wrap: wrap;

        gap: map.get(spacings.$spacings, 40) map.get(spacings.$spacings, 16);
    }
}
