<div class="flex flex-col items-center gap-normal desktop:items-end">
    @if (memberService.isVisitor) {
        <glassait-card
            [theme]="modeService.mode"
            avatar="visitor"
            class="w-[288px] *:text-justify tablet:w-[500px]"
            title="{{ 'home.title.visitor' | wording | sentenceCase }}"
        >
            <p>{{ 'home.text.visitor' | wording }}</p>
            <br />
            <p>{{ 'home.text.visitor-help' | wording }}</p>
        </glassait-card>
    }

    @if (!memberService.isVisitor && information.information) {
        <glassait-card
            [actionCallback]="{ func: navigate, parameter: information.information.link.url }"
            [theme]="modeService.mode"
            [isLoading]="information.isLoading"
            [loadingColor]="modeService.mode"
            actionAlign="end"
            actionIcon="super_conqueror"
            actionIconSize="36"
            actionText="{{ information.information.link.text }}"
            avatar="information"
            class="w-[288px] *:text-justify tablet:w-[500px]"
            hasAction="{{ information.information.link.url !== null }}"
            title="{{ 'home.title.information' | wording | sentenceCase }}"
        >
            <p>{{ information.information.text }}</p>
        </glassait-card>
    }

    @if (!memberService.isVisitor && memberOnline.amount) {
        <glassait-card
            [theme]="modeService.mode"
            [isLoading]="memberOnline.isLoading"
            [loadingColor]="modeService.mode"
            avatar="userGroup"
            class="w-[288px] *:text-justify tablet:w-[500px]"
            title="{{ 'home.title.member-online' | wording | sentenceCase }}"
        >
            @if (!memberOnline.amount || memberOnline.amount === 0) {
                {{ 'home.text.no-member-online' | wording }}
            } @else {
                {{ 'home.text.member-online' | wording | replace: 'amount' : (memberOnline.amount | toString) }}
            }
        </glassait-card>
    }

    <glassait-card
        [isLoading]="wotServer.isLoading"
        [loadingColor]="modeService.mode"
        [theme]="modeService.mode"
        avatar="server"
        class="w-[288px] tablet:w-[500px]"
        subtitle="{{ 'home.subtitle.server-status' | wording | sentenceCase }}"
        title="{{ 'home.title.server-status' | wording | sentenceCase }}"
    >
        <div class="flex flex-col gap-demi">
            @for (server of wotServer.servers?.wot; track $index) {
                <div
                    [class]="server.players_online === wotServer.max ? 'bg-warning-300 pb-[2px] pt-[2px] *:text-secondary-700' : ''"
                    class="flex items-center gap-normal rounded-normal pl-outside_tablet pr-outside_tablet"
                >
                    @if (server.players_online !== wotServer.max) {
                        <glassait-icon
                            [color]="modeService.mode === ModeEnum.DARK ? IconColorEnum.DARK : IconColorEnum.LIGHT"
                            icon="ok"
                            size="30"
                        ></glassait-icon>
                    } @else {
                        <glassait-icon [color]="IconColorEnum.LIGHT" icon="waiting" size="30"></glassait-icon>
                    }

                    <div class="text-title">{{ server.server }}</div>
                    <div>
                        {{ server.players_online }} {{ 'home.text.server-status' | wording }} {{ server.players_online > 1 ? 's' : '' }}
                    </div>
                </div>
            }
        </div>
    </glassait-card>
</div>
