@use 'sass:map';
@use '../../../scss/abstract/spacings';
@use '../../../scss/abstract/width';

:host {
    min-height: 70px;
    max-height: 70px;

    width: 100%;
    min-width: width.$min-width;

    padding: map.get(spacings.$spacings, 4) map.get(spacings.$spacings, 32);

    & #header-right {
        flex: 1;

        gap: map.get(spacings.$spacings, 12);

        & button {
            font-weight: bold;
        }
    }
}
