@use 'sass:map';
@use '../../../scss/abstract/colors';
@use '../../../scss/abstract/spacings';
@use '../../../scss/abstract/width';

%display-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
}

:host {
    min-height: 70px;
    max-height: 70px;

    width: 100%;
    min-width: width.$min-width;

    background: map.get(colors.$neutral, 900);

    @extend %display-flex;
    justify-content: start;

    padding: map.get(spacings.$spacings, 4) map.get(spacings.$spacings, 32);

    & header {
        @extend %display-flex;
        justify-content: space-evenly;
    }

    & #header-right {
        @extend %display-flex;
        justify-content: end;

        flex: 1;

        gap: map.get(spacings.$spacings, 12);

        & button {
            cursor: none;
            pointer-events: none;
            font-weight: bold;
        }
    }
}
