/* You can add global styles to this file, and also import other style files */

/* -------------------------------------------------------------------------- */
/*                                   IMPORT                                   */
/* -------------------------------------------------------------------------- */

@use 'assets/scss/tailwind/config';

// ANGULAR
@use 'assets/scss/angular/theme';

// Slide
@use 'assets/scss/angular/slide';

// AUTRE
@use 'assets/scss/standard';

.mat-mdc-slide-toggle .mdc-switch__ripple::after {
    opacity: 0.3 !important;
}

html {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

    scroll-behavior: smooth;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &[image='6'] {
        background-image: image-set(
                url('./assets/backgrounds/bg-dark-6.avif') type('image/avif'),
                url('./assets/backgrounds/bg-dark-6.png') type('image/png')
        );
    }
}
