/* You can add global styles to this file, and also import other style files */

/* -------------------------------------------------------------------------- */
/*                                   IMPORT                                   */
/* -------------------------------------------------------------------------- */

@use 'assets/scss/tailwind/config';

// ANGULAR
@use "assets/scss/angular/theme";

// EXPANSION PANEL
@use "assets/scss/angular/expansion-panel";
@use "assets/scss/angular/expansion-panel-header";
@use "assets/scss/angular/expansion-panel-body";

// BUTTON
@use "assets/scss/angular/button";

// CARD
@use "assets/scss/angular/card";

// Menu
@use "assets/scss/angular/menu";

// Slide
@use "assets/scss/angular/slide";

// AUTRE
@use "assets/scss/standard";

.mat-mdc-slide-toggle .mdc-switch__ripple::after {
    opacity: 0.3 !important;
}

html {
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;

    scroll-behavior: smooth;
}
