<glassait-button
    [disabled]='disabled'
    [matMenuTriggerFor]='menu'
    [text]='textMenu'
    [theme]='buttonTheme'
    [type]='ButtonTypeEnum.RAISED'
></glassait-button>
<mat-menu
    #menu='matMenu'
    [xPosition]='xPosition'
    [yPosition]='yPosition'
    class='{{ theme }}'
>
    <button
        (click)='menuItem.callback ? menuItem.callback() : null'
        *ngFor='let menuItem of menuItems'
        class='{{ alignItem }}'
        mat-menu-item
        role='menuitem'
    >
        <ng-container
            [ngTemplateOutletContext]='{
                link: menuItem.externalLink ? menuItem.externalLink : menuItem.routerLink,
                text: menuItem.text
            }'
            [ngTemplateOutlet]='
                menuItem.externalLink ? externalLink : menuItem.routerLink ? routerLink : text
            '
        ></ng-container>
    </button>
</mat-menu>

<ng-template #externalLink let-link='link' let-text='text'>
    <a href='{{ link }}' rel='noreferrer' target='_blank'>{{ text | uppercase }}</a>
</ng-template>

<ng-template #routerLink let-link='link' let-text='text'>
    <a routerLink='{{ link }}'>{{ text | uppercase }}</a>
</ng-template>

<ng-template #text let-text='text'>
    {{ text | uppercase }}
</ng-template>
