/*
 * || IMPORT / USE
 * Tips search `||` to move to section
 */
@use '../../../assets/scss/commons/borders';
@use '../../../assets/scss/commons/colors';
@use '../../../assets/scss/commons/box-shadow';
@use '../../../assets/scss/commons/spacing';

/*
* || MENU THEME
*/
.MENU {
    &.DARK {
        @extend %border-radius;
        box-shadow: box-shadow.$box-shadow-card-white !important;

        --mat-menu-container-color: #{colors.$secondary-700} !important;
        --mat-menu-item-focus-state-layer-color: #{colors.$secondary-400} !important;
        --mat-menu-item-hover-state-layer-color: #{colors.$secondary-400} !important;
        --mat-menu-item-icon-color: #{colors.$primary-700} !important;
        --mat-menu-item-label-text-color: #{colors.$primary-700} !important;
    }

    &.LIGHT {
        @extend %border-radius;
        box-shadow: box-shadow.$box-shadow-card-black !important;

        --mat-menu-container-color: #{colors.$primary-700} !important;
        --mat-menu-item-focus-state-layer-color: #{colors.$primary-400} !important;
        --mat-menu-item-hover-state-layer-color: #{colors.$primary-400} !important;
        --mat-menu-item-icon-color: #{colors.$secondary-700} !important;
        --mat-menu-item-label-text-color: #{colors.$secondary-700} !important;
    }
}

/*
* || MENU ALIGNEMENT
*/
.START {
    justify-content: flex-start !important;
}

.END {
    justify-content: flex-end !important;
}

/*
* || VARIABLE TO EXTEND
*/
%border-radius {
    --mat-menu-container-shape: #{borders.$radius-normal} !important;
}

/*
* || ANGULAR MATERIAL
*/
.cdk-overlay-connected-position-bounding-box {
    margin: 10px 0;
}

.mat-mdc-menu-item {
    padding: 0 spacing.$normal !important;
}
