openapi: 3.0.3
info:
    title: Wargaming API
    description: Wot API for clan
    version: 1.0.0
servers:
    -   url: https://api.worldoftanks.eu/wot/clans
paths:
    /info/?fields=private.online_members&extra=private.online_members:
        get:
            tags:
                - clans
            description: Get the information about the WoT servers
            summary: Get the information about the WoT servers
            operationId: onlineMember
            parameters:
                -   $ref: "./wgn.yml/#/components/parameters/application_id"
                -   $ref: "./wgn.yml/#/components/parameters/clan_id"
                -   $ref: "./wgn.yml/#/components/parameters/access_token"
                -   $ref: "./wgn.yml/#/components/parameters/language"
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                title: OnlineMemberResponse
                                oneOf:
                                    -   $ref: "#/components/schemas/OnlineMember"
                                    -   $ref: "./wgn.yml#/components/schemas/WgnError"
            deprecated: false
components:
    schemas:
        OnlineMember:
            type: object
            allOf:
                -   $ref: "./wgn.yml#/components/schemas/DefaultWgn"
                -   type: object
                    properties:
                        status:
                            enum:
                                - ok
                        meta:
                            type: object
                            properties:
                                count:
                                    type: integer
                        data:
                            type: object
                            example:
                                123456: {
                                    private: {
                                        online_members: [ 123456789 ]
                                    }
                                }
                            additionalProperties:
                                type: object
                                additionalProperties:
                                    type: object
                                    properties:
                                        online_members:
                                            type: array
                                            items:
                                                type: integer
                                    required:
                                        - online_members
                            required:
                                - wot
                    required:
                        - data
