openapi: 3.0.3
info:
    title: Wargaming API
    description: Wot API for clan
    version: 1.0.0
servers:
    -   url: https://api.worldoftanks.eu/wot/clans
paths:
    /info/?fields=private.online_members&extra=private.online_members:
        get:
            tags:
                - clans
            description: Get the information about the WoT servers
            summary: Get the information about the WoT servers
            operationId: onlineMember
            parameters:
                -   name: application_id
                    in: query
                    description: The application id for the Wargaming API
                    required: true
                    schema:
                        type: string
                -   name: clan_id
                    required: true
                    in: query
                    description: The clan id
                    schema:
                        type: string
                -   name: language
                    in: query
                    description: The redirect uri
                    schema:
                        type: string
                        default: fr
                -   name: access_token
                    in: query
                    description: The wot access token of the user
                    required: true
                    schema:
                        type: string
                        minLength: 40
                        maxLength: 40
                        pattern: "[a-e0-9]{40}"
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    -   $ref: "#/components/schemas/ClansError"
                                    -   $ref: "#/components/schemas/OnlineMember"
            deprecated: false
components:
    schemas:
        ClansError:
            type: object
            properties:
                status:
                    enum:
                        - error
                error:
                    type: object
                    properties:
                        code:
                            type: string
                        message:
                            type: string
                        field:
                            type: string
                        value:
                            type: string
                    required:
                        - code
                        - message
                        - field
                        - value
            required:
                - status
                - error
        OnlineMember:
            type: object
            properties:
                status:
                    enum:
                        - ok
                meta:
                    type: object
                    properties:
                        count:
                            type: integer
                data:
                    type: object
                    additionalProperties:
                        type: object
                        additionalProperties:
                            type: object
                            properties:
                                online_members:
                                    type: array
                                    items:
                                        type: integer
                            required:
                                - online_members
                    required:
                        - wot
            required:
                - status
                - meta
                - data
