openapi: 3.0.3
info:
    title: Wargaming API
    description: Stronghold Wargaming API
    version: 1.0.0
servers:
    -   url: https://api.worldoftanks.eu/wot/stronghold

paths:
    /clanreserves/?fields=disposable%2C+bonus_type%2C+name%2C+type%2C+in_stock%2C+-in_stock.x_level_only%2C+-in_stock.bonus_values:
        get:
            tags:
                - stronghold
            description: Get all the clan reserves from the WoT API
            summary: Get all the clan reserves from the WoT API
            operationId: clanReserves
            parameters:
                -   $ref: "./wgn.yml/#/components/parameters/application_id"
                -   $ref: "./wgn.yml/#/components/parameters/access_token"
                -   $ref: "./wgn.yml/#/components/parameters/language"
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                title: ClanReservesResponse
                                oneOf:
                                    -   $ref: "#/components/schemas/ClanReserve"
                                    -   $ref: "./wgn.yml/#/components/schemas/WgnError"
            deprecated: false
    /activateclanreserve/:
        post:
            tags:
                - stronghold
            description: Activate the selected clan reserves from the WoT API
            summary: Activate the selected clan reserves from the WoT API
            operationId: activateReserve
            requestBody:
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                application_id:
                                    $ref: "./wgn.yml/#/components/parameters/application_id"
                                access_token:
                                    $ref: "./wgn.yml/#/components/parameters/access_token"
                                reserve_level:
                                    description: The reserve level
                                    type: string
                                reserve_type:
                                    description: The reserve type
                                    type: string
                                language:
                                    $ref: "./wgn.yml/#/components/parameters/language"
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                title: ActivatedReservesResponse
                                oneOf:
                                    -   $ref: "#/components/schemas/Activated"
                                    -   $ref: "./wgn.yml/#/components/schemas/WgnError"
            deprecated: false

components:
    schemas:
        ClanReserve:
            type: object
            allOf:
                -   $ref: "./wgn.yml/#/components/schemas/DefaultWgn"
                -   type: object
                    properties:
                        data:
                            type: array
                            items:
                                type: object
                                title: ClanReserveData
                                properties:
                                    type:
                                        type: string
                                        description: The reserve type
                                    disposable:
                                        type: boolean
                                        description: Is the reserve disposable
                                    name:
                                        type: string
                                        description: The reserve name
                                    bonus_type:
                                        type: string
                                        description: The reserve bonus type
                                    in_stock:
                                        description: The reserve detail
                                        type: array
                                        items:
                                            type: object
                                            title: Reserve
                                            properties:
                                                status:
                                                    description: The status of reserve
                                                    type: string
                                                action_time:
                                                    description: The duration reserve (in seconds)
                                                    type: integer
                                                active_till:
                                                    description: The time until the reserve end (in Epoch time / Unix)
                                                    type: integer
                                                    nullable: true
                                                level:
                                                    description: The reserve level
                                                    type: integer
                                                activated_at:
                                                    description: The time when the reserve at been activated (in Epoch time / Unix)
                                                    type: integer
                                                    nullable: true
                                                amount:
                                                    description: The amount of this reserve
                                                    type: integer
                                            required:
                                                - status
                                                - action_time
                                                - active_till
                                                - level
                                                - activated_at
                                                - amount
                                required:
                                    - type
                                    - disposable
                                    - name
                                    - bonus_type
                                    - in_stock
                    required:
                        - data
        Activated:
            type: object
            allOf:
                -   $ref: "./wgn.yml/#/components/schemas/DefaultWgn"
                -   type: object
                    properties:
                        data:
                            type: object
                            title: ActivatedData
                            properties:
                                activated_at:
                                    type: string
