openapi: 3.0.3
info:
    title: Wargaming API
    description: overall Wargaming API
    version: 1.0.0
servers:
    -   url: https://api.worldoftanks.eu/wgn
paths:
    /servers/info/?game=wot:
        get:
            tags:
                - wgn
            description: Get the information about the WoT servers
            summary: Get the information about the WoT servers
            operationId: serverInfo
            parameters:
                -   $ref: "#/components/parameters/application_id"
                -   $ref: "#/components/parameters/language"
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                title: ServerResponse
                                oneOf:
                                    -   $ref: "#/components/schemas/ServerInfo"
                                    -   $ref: "#/components/schemas/WgnError"
            deprecated: false
components:
    schemas:
        WgnError:
            type: object
            properties:
                status:
                    type: string
                    enum:
                        - error
                error:
                    type: object
                    title: ErrorDetail
                    properties:
                        code:
                            type: string
                        message:
                            type: string
                        field:
                            type: string
                        value:
                            type: string
                    required:
                        - code
                        - message
                        - field
                        - value
            required:
                - status
                - error
        DefaultWgn:
            type: object
            properties:
                status:
                    type: string
                    enum:
                        - ok
                meta:
                    type: object
                    title: DefaultWgnMeta
                    properties:
                        count:
                            type: integer
            required:
                - status
                - meta
        ServerInfo:
            type: object
            allOf:
                -   $ref: "#/components/schemas/DefaultWgn"
                -   type: object
                    properties:
                        data:
                            type: object
                            title: ServerInfoData
                            properties:
                                wot:
                                    type: array
                                    items:
                                        type: object
                                        title: WotServer
                                        properties:
                                            players_online:
                                                type: integer
                                            server:
                                                type: string
                                                example: EU1
                                        required:
                                            - players_online
                                            - server
                            required:
                                - wot
                    required:
                        - data
    parameters:
        application_id:
            name: application_id
            in: query
            description: The application id for the Wargaming API
            required: true
            schema:
                type: string
        language:
            name: language
            in: query
            description: The redirect uri
            schema:
                type: string
                enum:
                    - fr
        clan_id:
            name: clan_id
            required: true
            in: query
            description: The clan id
            example: 123456789
            schema:
                type: string
        access_token:
            name: access_token
            in: query
            description: The wot access token of the user
            required: true
            example: 123abc456ef
            schema:
                type: string
                minLength: 40
                maxLength: 40
                pattern: '[a-f0-9]{40}'
